<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <property name="MAIN_APPLICATION" value="modiabrukerdialog" />

    <appender name="exceptionlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/${MAIN_APPLICATION}-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${APP_LOG_HOME}/${MAIN_APPLICATION}-error-%d{yyyy-MM-dd}.gz</FileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%date %level [%thread] - [%file:%line], %X{callId} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="infolog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/${MAIN_APPLICATION}-info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${APP_LOG_HOME}/${MAIN_APPLICATION}-info-%d{yyyy-MM-dd}.gz</FileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] - [%file:%line], %X{callId} - %m%n</pattern>
        </encoder>
    </appender>

    <!-- The sporingslogg-Appender- Logs access to sensitive information -->
    <appender name="sporinglog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/${MAIN_APPLICATION}-sporing.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_HOME}/${MAIN_APPLICATION}-sporing-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>95</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%-5level] [%thread] %logger{5} - [%X{consumerId}, %X{callId}, %X{userId}] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="personaccessappender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/${MAIN_APPLICATION}-personaccess.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_HOME}/${MAIN_APPLICATION}-personaccess-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>95</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] - [%file:%line] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="no.nav.modig.common.SporingsLogger" level="INFO">
        <appender-ref ref="sporinglog"/>
    </logger>

    <logger name="personaccess" level="warn" additivity="false">
        <appender-ref ref="personaccessappender"/>
    </logger>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="exceptionlog"/>
        <appender-ref ref="infolog"/>
    </root>

</configuration>