.knagg-input {
  input[type=text] {
    border: none;
  }
  .knagger {
    border: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;

    &.focus {
      border: 1px solid rgba(82, 168, 236, 0.8);
    }

    > span {
      position: relative;
      margin-left: 0.3rem;
      padding: 5px 28px 5px 10px;
      background-color: #226aa5;
      color: #f5f5f5;
      border-radius: 2px;
      top: 2px;
    }
    span {
      font-weight: bold;
    }
    button {
      position: absolute;
      width: 26px;
      height: 26px;
      top: 0;
      right: 0;
      border: 0;
      outline: none;
      background: url(../img/emneknaggKryss.svg) no-repeat;
      background-position: 2px 3px;
      background-size: 20px;
      &:focus, &:hover {
        background: url(../img/emneknaggKryss_hover.svg) no-repeat;
        background-position: 2px 3px;
        background-size: 20px;
      }
    }
    img {
      height: 24px;
      position: relative;
      left: 9px;
    }
  }
}