.varsel-lerret {
  margin: 3px;
  .varsel-liste-header, .varsel-rad-header, .varsel-rad-element {
    padding: 1rem;
    span {
      display: inline-block;
      vertical-align: top;
      &.header-dato, &.innhold-kanal {
        width: 18%;
      }
      &.header-kanal {
        width: 32%;
        position: relative;
      }
      &.header-type {
        width: 50%;
      }
    }

    .innhold-melding {
      width: 82%;
      display: inline-block;
    }
  }
  .varsel-liste-header {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .reset-ul-styling {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .varsel-rad {
    margin-bottom: 3px;
  }
  .varsel-rad-header {
    background-color: #ebebeb;
    width: 100%;
    border: none;
    text-align: left;

    &.ekspandert {
      background-color: #333;
      color: #f1f1f1;
    }
  }
  .varsel-rad-element {
    font-size: 16px;
    padding: 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid #ccc;
    }
  }
  .varsel-innhold-container {
    margin: 1rem auto;
  }
  .innhold-informasjon {
    font-weight: 600;
    font-style: italic;
    margin-top: -0.5rem;
    &.ok {
      color: #226aa4;
    }
    &.error {
      color: #BA3A26;
    }
  }

  .innhold-kanal {
    padding-left: 11px;
    font-weight: 600;
  }
  .innhold-melding {
    padding-left: 8px;
  }
  .innhold-informasjon {
    margin-left: 18%;
    padding-left: 8px;
  }
  .ekspanderingspil {
    position: absolute;
    top: 3px;
    right: 0;
    .pil(8px, #226aa4);
    &.opp {
      .pil(8px, #f1f1f1);
    }
  }
  .feilmelding {
    color: #7f756c;
    text-align: center;
  }
  .snurrepipp img {
    margin: 0 auto;
    display: block;
  }
}

.innhold-epostemne {
  margin-bottom: 10px;
  font-weight: bold;
}

@media (min-width: 1440px) {
  .varsel-lerret {
    .varsel-liste-header, .varsel-rad-header, .varsel-rad-element {
      span {
        &.header-dato, &.innhold-kanal {
          width: 18%;
        }
        &.header-kanal {
          width: 26%;
        }
        &.header-type {
          width: 56%;
        }
      }
      .innhold-melding {
        width: 82%;
        display: inline-block;
      }
    }
  }
}
