.nav-kontor-panel {
  padding-top: 1.5em;
  margin-right: 2em;
  margin-bottom: 1.5em;

  .nav-ikon {
    @breddeNavIkon: 75px;
    background-image: url('../svg/nav-logo-hvit-tekst.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: @breddeNavIkon;
    height: @breddeNavIkon/1.5;
    margin-left: 20px;
    float: left;
  }

  .nav-kontor-info {
    margin-left: 110px;

    p {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: bold;
      font-family: Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    h1, h2, h3, h4 {
      color: #b7b1a9;
      text-transform: uppercase;
      font-weight: normal;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      margin-bottom: 0.2em;
    }

    .overskrift {
      font-size: 0.857rem;
    }

    .ekspanderbartPanel__hode {
      background-color: #333333;
      border: 0;
      padding: 0;
      text-align: start;
      color: inherit;
      margin-bottom: 1.5em;
      button {
        box-shadow: none;
      }

      .ekspanderbartPanel__hode:focus {
        box-shadow: none;
      }
    }

    .ekspanderbartPanel__hode:hover {
      color: inherit;
      box-shadow: none;
    }

    .ekspanderbartPanel__innhold {
      background-color: #333333;
      padding: 0;
    }

    .infoblokk {
      margin-bottom: 2em;
    }

    .apningstider {
      display: flex
    }

    .apningstid {
      flex-basis: 50%;
    }
  }

  svg:not(:root) {
    overflow: hidden;
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  .spinner {
    display: inline-block;
    position: relative;
    animation: rotering 2s linear infinite;
    margin-left: 2em;
  }

  .spinner--m {
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
    animation-duration: 1.1s;
  }

}
