*.iml
*.ipr
*.iws
.idea/*
target/
*.log

#fitnesse
web/FitNesseRoot/FitNesse/
web/FitNesseRoot/files/
web/FitNesseRoot/properties
web/FitNesseRoot/updateDoNotCopyOverList
web/FitNesseRoot/updateList
web/FitNesseRoot/ErrorLogs
