
.reactTraadVisning {
  .ekspanderbartPanel {
    background-color: white;
    box-shadow: 0 0 1px @navGra40;

    &.kategoripanel {
      margin-top: 1em;
    }

    &.meldingspanel{
      .ekspanderbartPanel__hode{
        background-color: white;
      }
    }

    &.kanaloverskrift {
      padding: 0;
    }

    &__hode {
      background-color: @modiasvart;
      color: @navGra20;
      border-top: 1px solid @navGra20;
      border-radius: 0;
      padding: 0.5em 1em;
      z-index: inherit;

      .typo-undertittel {
        width: 95%;
        font-family: inherit;
        line-height: inherit;
        font-weight: inherit;
      }

      .tittelwrapper {
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
          text-transform: none;
        }
        .temagruppeoverskrift{
          margin-right: 10px;
        }
      }

      .metadata {
        text-align: left;
        color: @navGra60;
        font-size: 0.85rem;
        .meldingsDato {
        }
        .meldingsForfatter {
        }
      }

      &:hover,
      &--hover {
        box-shadow: inset 0 0 1px @navGra40 !important;
        filter: brightness(97%);
        & .ekspanderbartPanel__heading {
          text-decoration: none;
        }
      }

      &:focus{
        box-shadow: none;
      }
    }

    &__innhold {
      padding: 0;
      border-radius: 0;

      &__melding{
        padding: 0em 1.5em 0.5em;
        text-align: left;
        overflow-wrap: break-word;
      }
    }
  }
}
