<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <property name="MAIN_APPLICATION" value="minehenvendelser" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-6level %date{HH:mm:ss,SSS} ~%thread~ [%logger{10}] - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.cxf.services" level="WARN" />
    <logger name="org.apache.cxf" level="WARN" additivity="false" />


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>