<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <property name="MAIN_APPLICATION" value="minehenvendelser" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] - [%logger] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.cxf.services" level="DEBUG" />
    <logger name="org.apache.cxf" level="INFO" additivity="false" />
    <logger name="no.nav.modig" level="ERROR" additivity="false" />
    <logger name="org.apache.wicket" level="WARN" additivity="false" />
    <logger name="org.springframework" level="WARN" additivity="false" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>