// ".nytt-visittkort-toggle ~" kan fjernes når featuretoggle for nytt visittkort skal fjernes. NYTT_VISITTKORT
.nytt-visittkort-toggle ~ #modia-app {
  .sidebar-venstre {
    display: none;
  }
  .sidebar-hoyre {
    flex: 35% 0 0;
  }

  .main-content .lameller {
    box-shadow: 0 0 0 2px @navLysGra;
  }

  .hook-for-spesialstyling-i-gamlemodia-visittkortbodywrapper {
    /* for at fokuset skal bli synlig når visittkort åpnes */
    &:focus {
      margin: 2px;
      margin-bottom: 4px;
    }
  }
}
