// ".nytt-visittkort-toggle ~" kan fjernes når featuretoggle for nytt visittkort skal fjernes. NYTT_VISITTKORT
.nytt-visittkort-toggle ~ #modia-app {
  .sidebar-venstre {
    display: none;
  }
  .sidebar-hoyre {
    flex: 35% 0 0;
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  .main-content .lameller {
    box-shadow: 0 0 0 2px @navLysGra;
  }

  .nyttvisittkort {
    overflow-y: auto;
    background-color: @navLysGra;
    p {
      padding: 0;
    }
    h1, h2, h3, h4 {
      margin: 0;
      padding: 0;
    }
    label {
      width: auto;
    }
    .ekspanderbartPanel__hode {
      z-index: initial;
      border-bottom: @navLysGra 2px solid;
      &:focus {
        box-shadow: inset 0 0 0 3px @fokusFarge;
      }
    }

    /* KODE FOR AT NAV-FRONT-END STYLES SKAL OVERSKRIVE MODIA-STYLES */
    // nav frontend bruker rem, og tar utgangspunkt i at font-size på html er 16px. i modia er den 14px, og derfor må elementer fra nav-frontend få custom styling her
    .typo-undertittel {
      font-size: 20px;
      text-transform: initial;
    }
    .typo-normal {
      font-size: 16px;
    }
    .typo-undertekst {
      font-size: 14px;
    }
    .typo-etikett-liten {
      font-size: 14px;
    }
    .typo-element {
      font-size: 16px;
    }
    .etikett {
      font-size: 16px;
    }
    form {
      label, input, select, textarea, span {
        color: @textColor;
        text-transform: inherit;
        font-size: 16px !important;
      }
      .inputPanel, .checkboksPanel, .inputPanel--checked {
        width: 100%;
      }
    }
  }
}

/*
Source Sans Pro som vi får fra nav-frontend-typografi ser ikke bra ut i noen browsere, feks Chrome i Windows 7 og 10.
Det finnes allerede et issue på dette: https://github.com/navikt/nav-frontend-moduler/issues/46.
Som en midlertidig løsning overstyrer vi fonten, ved å laste dem inn fra google fonts.
*/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
