@skrivestotte-padding: 15px;
@border-color: #ccc;
@shadow-color: #000;

.tekstforslag {
  em {
    font-style: normal;
    background-color: #eed28c;
    border-radius: 10px;
    padding: 0 5px;
  }

  .sok-visning {
    .sok-liste {
      div.sok-element {
        text-transform: none;

        h4 {
          margin: 0;
          font-size: 14px;
        }
        input[type=radio] + label {
          text-transform: none;
        }

        input[type=radio]:checked + label {
          em {
            background-color: #87897d;
          }
        }
      }
    }
    .sok-forhandsvisning {
      .tekstPanel {
        padding: @skrivestotte-padding;
        height: 85%;
        overflow: auto;
      }
      .velgPanel {
        padding: @skrivestotte-padding;
        height: 15%;
        text-align: center;
        border-top: 1px solid @border-color;
        select {
          margin-right: 15px;
        }
      }
      > p:first-child {
        margin-top: 0;
      }
    }
  }
}
