@skrivestotte-padding: 15px;
@border-color: #ccc;
@shadow-color: #777;

.tekstforslag {
  position: absolute;
  width: 900px;
  height: 500px;
  left: 50%;
  margin-left: -450px;
  top: 20%;
  border: 1px solid @border-color;
  background-color: #fff;
  box-shadow: @shadow-color 0 0 60px;
  text-align: left;

  em {
    font-style: normal;
    background-color: #eed28c;
    border-radius: 5px;
    padding: 0 3px;
  }
  h1.tomt {
    text-align: center;
    padding-top: 40px;
    color: #777;
  }

  .filter-container {
    height: 15%;
    padding: 1rem;
    border-bottom: 1px solid @border-color;

    input[type=text] {
      width: 100%;
      line-height: 2rem;
      font-size: 1.25rem;
    }
  }
  .tekstvisning {
    position: relative;
    height: 85%;

    .tekstListe {
      margin: 0;
      width: 35%;
      height: 100%;
      float: left;
      overflow-x: hidden;
      overflow-y: scroll;
      list-style: none;
      background-color: #f5f5f5;

      label.tekstElement {
        padding: @skrivestotte-padding;
        border-bottom: 1px solid @border-color;
        background: none;
        width: 100%;
        margin: 0;
        text-transform: none;

        h4 {
          margin: 0 0 0.5rem;
          font-size: 14px;
        }
        p {
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0;
          color: #333;
        }
        &.valgt {
          background-color: #226aa5;
          color: #f5f5f5;

          em {
            background-color: #87897d;
          }
          h4 {
            color: white;
          }
          p {
            color: #f5f5f5;
          }
        }
      }
    }

    .tekstForhandsvisning {
      width: 65%;
      height: 100%;
      overflow: auto;
      float: right;
      padding: @skrivestotte-padding;
      word-wrap: break-word;

      > p:first-child {
        margin-top: 0;
      }
    }
  }
}