<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <display-name>modiabrukerdialog</display-name>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>no.nav.sbl.dialogarena.modiabrukerdialog.web.config.ApplicationContext</param-value>
    </context-param>

    <context-param>
        <description>Brukes for å velge kontekst</description>
        <param-name>spring.profiles.active</param-name>
        <param-value>
            kjerneinfoDefault
            , personsokDefault
            , brukerhenvendelserDefault
            , sykemeldingsperioderTest
            , kontrakterTest
            , brukerprofilTest
            , behandleBrukerprofilTest
        </param-value>
    </context-param>

    <!-- exposes the request to current thread -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restricted</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Selftest</web-resource-name>
            <url-pattern>/internal/selftest</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
        	<form-login-page>/login.html</form-login-page>
        	<form-error-page>/login.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>0000-GA-BD06_EndreKontaktAdresse</role-name>
    </security-role>
    <security-role>
        <role-name>0000-GA-BD06_ModiaGenerellTilgang</role-name>
    </security-role>
    <security-role>
        <role-name>0000-GA-BD06_EndreKontonummer</role-name>
    </security-role>

    <filter>
        <filter-name>MDCFilter</filter-name>
        <filter-class>no.nav.modig.presentation.logging.session.MDCFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MDCFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>wicket</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationFactoryClassName</param-name>
            <param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>wicket</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <error-page>
        <error-code>401</error-code>
        <location>/feilsider/401.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/feilsider/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/feilsider/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/feilsider/500.html</location>
    </error-page>
</web-app>