.journalforings-panel {
  margin: 2px;
  background-color: #EBEBEB;
  box-shadow: 0 1px 3px 0 #333;
  padding: 2rem 1rem 1rem;

  .header {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .type-valg {
    width: 20rem;
    margin: 1rem auto;
    .label {
      width: 10rem;
      margin: 0;
      padding-top: 0;
      line-height: 28px;
      min-height: 28px;
      color: #333;
    }
  }
}