select + span.jquery-combobox {
  display: block;
  position: relative;

  input[type=text] {
    width: 100%;
    padding-right: 4%;
  }
  button {
    position: absolute;

    border: none;
    background: none;

    width: 4%;
    right: 0;
    top: 0;
    bottom: 0;
  }

}
.ui-menu.ui-autocomplete {
  background-color: white;
}