select + span.jquery-combobox {
  display: block;
  position: relative;

  input[type=text] {
    width: 100%;
    padding-right: 4%;
  }
  button {
    position: absolute;

    border: none;
    background: none;

    width: 4%;
    right: 0;
    top: 0;
    bottom: 0;
  }

}
.ui-menu.ui-autocomplete {
  background-color: white;
  margin: 0;
  padding: 0 0 0 4px;
  width: 100% !important;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  > .ui-menu-item {
    color: #000;
    font-size: 14px;
    list-style: none;
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    text-transform: none;
    &.ui-state-focus {
      background-color: #3976d7;
      color: #fff;
    }
  }
}