/* Variabler & generelle mixins */
.border-box   { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.clearfix     { &::before, &::after {display:table;content:"";line-height:0;} &::after {clear:both;}}
.vekk         { position: absolute; left: -3000px; }

/* Generelle element */

H1, H2, H3 {
	font-family: Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.2em;
}

H1 {
	font-size: 2.5rem;
}

H2, ._H2 {
	font-size: 2.0rem;
}

H3, ._H3 {
	font-size: 1.43rem;
	font-weight: 600;
	text-transform: uppercase;
}

.kolonne {
	.border-box;
	float: left;
	display: block;
	min-height: 30px;
	width: 47.93617021276595%;
}

/* Spesifike sider */

.hentperson.main {
  background-color: #3E3832;
}

/* Individuelle lameller */
.lamell {
	UL.arbeisdgiver {
		padding-left: 0;
		list-style-type: none;
		margin: 0;
	
		LI:not(:first-child) {
			margin-top: 2rem;
}
	}
	
	/* Oversikt */
	&[id^=oversikt] {
		.kolonne:first-of-type {
			margin-left: 0;
	    }
	
		.kolonne:last-child {
			margin-left: 3.8%;
		}
	}

	/* Sykepenger */
	&.sykepenger, &[id^="sykepenger"]:not(.widget-navigasjon) {
		SECTION {
			margin-top: 0;
		
			> SECTION H1 {
				._H2;
				margin-bottom: 2rem;
            }
        }

		.liste {
			float: right;
			margin: 2rem 0 0 3.8%;
	    }
	
		.arbeidssituasjon {
			clear: left;
	    }
	
		.sykmeldinger {
			clear: left;
            float: left;
            margin-left: 0;
        }
}


	/* FORELDREPENGER */
	&.foreldrepenger, &[id^="foreldrepenger"]:not(.widget-navigasjon) {
		SECTION > H1 {
			._H2;
			margin-bottom: 2rem;
	    }
	
		.arbeidssituasjon {
			margin: 0 0 2rem 3.8%;
			float: right;
	
			.arbeisdgiver {
				margin-top: 2rem;
            }
        }

		.barnet {
			margin: 0 0 2rem 0;
		}
  
		SECTION.periode, SECTION[title=Periode] {
			clear: both;
            display: block;
			padding-top: 2rem;
  
			border-top: 1px solid #CCC;
  
			DL.oppsummering, ARTICLE.liste {
				.kolonne;
				margin-left: 0;
            }

			ARTICLE.liste {
				margin-left: 3.8%;
            }
        }
    }

	.liste {
		.kolonne;

		P.overskrift, LI.expandable A {
			font-weight: 600;
			font-size: 1.16rem;
			font-family: Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
			position: relative;
			padding-right: 30px;
			
			.dato {
				display: block;
				font-size: 0.857rem;
				font-weight: normal;
				font-family: Helvetica, Arial, sans-serif;
			    text-transform: uppercase;
		    }
		
			.belop {
				position: absolute;
				left: 50%;
            }
        }
	
		.gradering {
			position: absolute;
			right: 0;
	    }
	}
}