{
  "swagger": "2.0",
  "info": {
    "description": "Tjeneste for å samle inn informasjon om status på brukers søknader",
    "version": "v1",
    "title": "Søknad status API",
    "contact": {
      "name": "Team modiapersonoversikt",
      "url": "https://intern.nav.no/modia-soknadsstatus-api/api"
    }
  },
  "host": "modia-soknadsstatus-api.intern.nav.no",
  "basePath": "/api/soknadsstatus",
  "schemes": ["https"],

  "paths": {
    "/behandling/{ident}": {
      "get": {
        "summary": "Henter en liste av brukers behandlinger",
        "operationId": "hentAlleBehandlinger",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "\"Bearer \" + OIDC token",
            "required": true,
            "type": "string"
          },
          {
            "name": "ident",
            "in": "path",
            "description": "fnr for bruker",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Behandling"
              }
            }
          },
          "403": {
            "description": "Feil api nøkkel"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/hendelse/{ident}": {
      "get": {
        "summary": "Henter en liste av brukers hendelser",
        "operationId": "hentAlleHendelser",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "\"Bearer \" + OIDC token",
            "required": true,
            "type": "string"
          },
          {
            "name": "ident",
            "in": "path",
            "description": "fnr for bruker",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Hendelse"
              }
            }
          },
          "403": {
            "description": "Feil api nøkkel"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "Behandling": {
      "type": "object",
      "properties": {
        "behandlingId": {
          "type": "string"
        },
        "produsentSystem": {
          "type": "string"
        },
        "startTidspunkt": {
          "type": "string",
          "format": "date-time"
        },
        "sluttTidspunkt": {
          "type": "string",
          "format": "date-time"
        },
        "sistOppdatert": {
          "type": "string",
          "format": "date-time"
        },
        "sakstema": {
          "type": "string"
        },
        "behandlingsTema": {
          "type": "string"
        },
        "behandlingsType": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "ansvarligEnhet": {
          "type": "string"
        },
        "primaerBehandling": {
          "type": "string"
        }
      },
      "title": "Behandling"
    },

    "Hendelse": {
      "type": "object",
      "properties": {
        "hendelseId": {
          "type": "string"
        },
        "behandlingId": {
          "type": "string"
        },
        "hendelseProdusent": {
          "type": "string"
        },
        "hendelseType": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "ansvarligEnhet": {
          "type": "string"
        }
      },
      "title": "Hendelse"
    }
  }
}