.bekreft-dialog {
  UL {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
    LI {
      margin-bottom: 30px;
      display: block;
      &:last-of-type {
        margin-bottom: 15px;
      }
    }
  }
}