@coreModulePath: "./node_modules/";
@nodeModulesPath: "./node_modules/";
@frontEndModuler: "@{nodeModulesPath}nav-frontend-";
@index-fil: "-style/src/index";

@import (inline) "./node_modules/nav-datovelger/dist/datovelger/styles/datovelger.css";

@import "@{frontEndModuler}spinner-style/src/spinner-style"; // Denne scopes ikke innenfor #modia-app da den får høy spesifitet som overskriver gamle spinnere og lager trøbbel
@import "@{frontEndModuler}modal@{index-fil}"; // Scopes utenfor #modia-app fordi modaler mountes rett på body

// scoper dette innenfor #modia-app for å øke spesifisitet
#modia-app {
  @import "@{frontEndModuler}typografi@{index-fil}";
  @import "@{frontEndModuler}alertstriper@{index-fil}";
  @import "@{frontEndModuler}ekspanderbartpanel@{index-fil}";
  @import "@{frontEndModuler}etiketter@{index-fil}";
  @import "@{frontEndModuler}skjema@{index-fil}";
  @import "@{frontEndModuler}knapper@{index-fil}";
  @import "@{frontEndModuler}chevron@{index-fil}";
  .nyttvisittkort {
    @import "@{frontEndModuler}lenker-style/src/lenker-style";
  }
}
