@coreModulePath: "./node_modules/";
@nodeModulesPath: "./node_modules/";
@frontEndModuler: "@{nodeModulesPath}nav-frontend-";
@index-fil: "-style/src/index";

@import "./src/main/resources/no/nav/sbl/dialogarena/modiabrukerdialog/reactkomponenter/datovelger";

@import "./node_modules/nav-frontend-spinner-style/src/spinner-style"; // Denne scopes ikke innenfor #modia-app da den får høy spesifitet som overskriver gamle spinnere og lager trøbbel

// scoper dette innenfor #modia-app for å øke spesifisitet
.ReactModalPortal, #modia-app {
  @import "./node_modules/nav-frontend-modal-style/src/index";
  @import "./node_modules/nav-frontend-lukknapp-style/src/lukknapp-style";
  @import "./node_modules/nav-frontend-knapper-style/src/index";
  @import "./node_modules/nav-frontend-typografi-style/src/index";
  @import "./node_modules/nav-frontend-alertstriper-style/src/index";
  @import "./node_modules/nav-frontend-ekspanderbartpanel-style/src/index";
  @import "./node_modules/nav-frontend-etiketter-style/src/index";
  @import "./node_modules/nav-frontend-skjema-style/src/index";
  @import "./node_modules/nav-frontend-chevron-style/src/index";
  @import "./node_modules/nav-frontend-tabs-style/src/tabs-style";
  @import "./node_modules/nav-frontend-lenkepanel-style/src/index";

  .nyttvisittkort {
    @import "./node_modules/nav-frontend-lenker-style/src/lenker-style";
  }
}
