<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="skriv-ut-container">
        <button aria-label="Ekspander" class="ekspander-pil ikke-print" title="Ekspander">
            <span><wicket:message key="component.printekspander.aapne.text" /></span>
        </button>
        <button aria-label="Skriv ut"  wicket:id="skriv-ut" class="skriv-ut ikke-print" title="Skriv ut">
            <span><wicket:message key="component.printekspander.print.text" /></span>
        </button>
    </div>
</wicket:panel>
</html>
