<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="skriv-ut-container">
        <button aria-expanded="false" aria-label="Detaljer" class="ekspander-pil ikke-print">
            <span class="vekk"><wicket:message key="component.printekspander.aapne.text"/></span>
        </button>
        <button aria-label="Skriv ut" wicket:id="skriv-ut" class="skriv-ut ikke-print">
            <span class="vekk"><wicket:message key="component.printekspander.print.text"/></span>
        </button>
    </div>
</wicket:panel>
</html>
