.lamell {
  /* Oversikt */
  &.oversikt {
    .kolonne { /* For å lage plass til fokusmarkering */
      padding-left: 3px;
      padding-right: 3px;
    }
    .kolonne:first-of-type {
      margin-left: 0;
    }

    .kolonne:last-child {
      margin-left: 3.8%;
    }
  }
}