.lamell {
  /* Oversikt */
  &.oversikt {
    .kolonne:first-of-type {
      margin-left: 0;
    }

    .kolonne:last-child {
      margin-left: 3.8%;
    }
  }

  .varsel-link {
    margin-bottom: 25px;
    padding: 8px 0 0 40px;
    display: inline-block;
    height: 32px;
    background: url(../svg/varsler.svg) 0 0 no-repeat;
    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}