.varsel-link {
  display: inline-block;
  margin-bottom: 25px;
  padding: 8px 0 0 30px;
  height: 27px;
  background: url(../img/varsler.svg) 0 3px no-repeat;
  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

.varsel-lerret {
  .feilmelding {
    color: #b7b1a9;
    text-align: center;
  }
}

