.saker .sak-informasjon {
    display: table-cell;
    width: 75%;
    vertical-align: top;
    min-height: 86.5vh;
}

.saker .sak-navigering {
    width: 35% !important;
}

.saker .behandling-informasjon {
    min-height: auto !important;
}

@media print {
    .saksoversikt {
        height: 0px !important;
        display: inline-block;
    }

    .saksoversikt .lerret {
        height: 0px !important;
        display: inline-block;
    }
}