
@grayLight: #b7b1a9;
@grayDark: #3e3832;
@grayMediumDark: #dadada;
@white: #fff;
@textColor: @grayDark;
@blueLight: #0ca9e1;
@blueDark: #0067cf;
@black: #000;
@focusBackground: @white;
@focusColor: @grayDark;

.saksoversikt.lamell {
    .lerret {
        padding: 0;
        .flexbox;
        .flex1;
        .col;
    }
}

.widget {
    .overflowitem {
        padding: 0;
        background-color: @white !important;

        a {
            text-decoration: none;
            text-align: center;
            color: @blueLight !important;
            padding: 9px !important;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .widgetDato {
        display: block;
        font-size: 0.85rem;
    }

    .widgetTema {
        display: inline-block;
        font-weight: bold;
        font-size: 1.2rem;
        font-family: Modus, arial, sans-serif;
    }
}

.saksoversikt {
    .feilmelding {
        background: #c30000;
        padding: 20px;
        color: @white;
    }

    .lerret {
        border-top: 1px solid #ccc;
        position: relative;
    }

    li.aktiv {
        display: block !important;
    }

    .saksinformasjon {
        padding: 30px;
        h2 {
            font-family: modus, arial, helvetica, sans-serif;
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: 15px;
            margin-top: 0;
            padding-top: 30px;
            border-top: 1px solid #d1d1d1;

            &:first-child {
                padding-top: 0;
                border-top: none;
            }
        }

        p {
            margin-bottom: 0;
            padding-bottom: 30px;

            &:last-child {
                padding-bottom: 10px;
            }
        }

        a {
            font-size: 1rem;
        }
    }

    .lamell-hode-lenker {
        position: absolute;
        top: -34px;
        width: 100%;

        .saksinformasjon-lenker {
            position: absolute;
            left: 40%;
            padding-left: 30px;
            display: inline-block;

            &.hide {
                display: none;
            }

            a {
                font-size: 0.875rem;
                font-family: modus, arial, helvetica, sans-serif;
                text-transform: uppercase;
                position: relative;

                &.active {
                    text-decoration: none;
                    color: @grayDark;
                }

                &:first-child:after {
                    content: "";
                    position: relative;
                    top: -3px;
                    display: inline-block;
                    border: 2px solid @grayDark;
                    border-radius: 2px;
                    margin-left: 10px;
                    margin-right: 5px;
                }
            }
        }

        .oppdater-innhold {
            position: absolute;
            right: 30px;
        }
    }

    .sak-navigering {
        background: #f1f1f1;
        border-right: 1px solid #ccc;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                &.aktiv{
                    background: @white;
                }

                a {
                    padding: 15px 20px;
                    border-bottom: 1px solid #ccc;
                    color: @grayDark;
                    display: block;

                    .dato {
                        margin-bottom: 0.17rem;
                    }

                    &:hover {
                        background: @grayMediumDark;
                    }

                    &:active,&:focus {
                        background: @focusBackground;
                        color: @focusColor;
                    }
                }
            }
        }
    }

    .sak-informasjon {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li.sakdetaljer:not(.aktiv) {
                display: none;
            }
        }

        .aar {
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                border-top: 1px solid #d1d1d1;
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                z-index: -1;
            }

            &.sort:before {
                border-color: @grayDark;
            }

            div {
                width: 100%;
                text-align: center;

                span {
                    background: @white;
                    padding: 0 20px;
                    font-size: 1.1rem;
                    font-weight: bold;
                    font-family: Modus, Arial, sans-serif;
                }
            }
        }

        .behandling-container {
            padding: 0 30px 30px;

            &:first-child {
                .aar {
                    display: none;
                }
            }

            .behandling {
                padding-left: 85px;
                padding-top: 30px;
                background: url(../img/under_arbeid_stor_graa.svg) no-repeat left 15px  !important;
                page-break-inside: avoid;

                &.avsluttet {
                    background-image: url(../img/hake_stor_graa.svg) !important;
                }

                &.kvitteringbehandling {
                    background-image: url(../img/dokument_stor.svg) !important;
                }
            }
        }
    }

    .behandling-informasjon {
        .kvittering-topp {
            p {
                display: none;
            }
        }

        h2 {
            margin-top: 0px;
            margin-bottom: 20px;
        }

        .behandlingstid {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .dato {
            font-size: 0.80rem;
        }

        .toggle-kollapsbar {
            color: #2768B2;

            &:hover {
                text-decoration: underline;
            }
        }

        .kollapsbar {
            display: none;
            position: relative;

            h3 {
                font-size: 1rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                text-transform: none;
            }

            section {
                padding-bottom: 0;
            }

            .vis-vedlegg {
                text-decoration: underline;
                font-size: 0.9rem;
            }

            .skriv-ut {
                position: absolute;
                right: 10px;
                background: url(../img/print_hover.svg) no-repeat left center;
                padding-left: 20px;
                color: #2768B2;

                &:hover {
                    text-decoration: underline;
                }
            }

            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 30px;

                li {
                    margin-bottom: 10px;
                    padding-left: 20px;

                    img {
                        margin-left: -20px;
                        margin-right: 5px;

                        &.hake {
                            -ms-transform: scale(0.75, 0.75);
                            -moz-transform: scale(0.75, 0.75);
                            -webkit-transform: scale(0.75, 0.75);
                            transform: scale(0.75, 0.75);
                        }

                        &.minus {
                            position: relative;
                            top: -2px;
                        }
                    }
                }
            }

            .kvitteringsinfo {
                margin-bottom: 30px;
            }
        }

        .skjul {
            display: none;
        }
    }

    .hent-saker {
        text-align: center;
        a {
            margin: 0;
            padding: 0;
            color: @blueDark;
        }
        span {
            display: block;
            margin: 0.5em 0;
        }
    }
}

.print-only {
    display: none;
}

@media print {
    .saksoversikt {
        height: 0px !important;
        display: inline-block;

        a.close {
            display: none;
        }

        .lamellhode h1{
            text-align: center;
        }
    }

    .saksoversikt .lerret {
        height: 0px !important;
        display: inline-block;
    }

    .sak-navigering {
        display: none;
    }

    .flexbox {
        display: block !important;
    }

    .sak-informasjon {
        h2.print-only {
            padding-left: 30px;
            padding-top: 30px;
            text-align: center;
        }

        a {
            text-decoration: underline;
        }

        a[href]:after {
            content: "";
        }
    }

    .print-only {
        display: block !important;
    }

    .print-hide {
        display: none !important;
    }

    .content > .behandling-informasjon {
        margin-right: 0;

        h2 {
            text-align: center;
            font-size: 22px;
            text-transform: none;

            &:after {
                content: "";
                border-top: 1px solid #d1d1d1;
                display: block;
                margin: 30px auto;
                width: 30px;
            }
        }

        .kvittering-topp {
            text-align: center;
            padding-bottom: 40px;
            border-bottom: 1px solid #d1d1d1;

            p {
                display: block;
                font-size: 17px;
                font-family: Modus, Arial, Helvetica, sans-serif;
                font-weight: 600;
                margin-bottom: 0;
            }
        }

        .kollapsbar {
            display: block !important;
            margin-top: 40px;
        }

        .toggle-kollapsbar, .skriv-ut {
            display: none !important;
        }
    }
}