.leggtilbakemeddelvissvar {
  padding: 30px;

  .sporsmaal {
    text-align: left;
    line-height: 1.4em;
    word-wrap: break-word;
    max-width: 410px;
    a {
      -ms-word-break: break-all;
      word-break: break-all;
    }
  }

  .svar {
    padding-bottom: 35px;
    .svar-tekst {
      width: 100%;
      display: block;
    }

    .svar-overskrift-boks {
      background: #333333;
      padding: 7px 0;

      .overskrift {
        margin:0;
        color: #b7b1a9;
        font-weight: 600;
        font-size: 1.21rem;
      }
    }
  }

  .avbryt{
    cursor: pointer;
}

  .submit {
    display: block;
    width: max-content;
    margin: auto;
    margin-bottom: 15px;
  }

  .temagruppe-velger {
    padding-bottom: 55px;
  }



}