/* REGULAR font-weight: 400 */
@font-face { font-family: 'Modus'; font-weight: normal; font-style: normal; src: url(/modiabrukerdialog/fonts/MODURG.woff) format('woff'); }

/* SEMI BOLD */
@font-face { font-family: 'Modus'; font-weight: 600; src: url(/modiabrukerdialog/fonts/MODUSB.woff) format('woff'); }

/* BOLD font-weight: 700 */
@font-face { font-family: 'Modus'; font-weight: bold; src: url(/modiabrukerdialog/fonts/MODUB.woff) format('woff'); }

/* ITALIC font-weight: 400 */
@font-face { font-family: 'Modus'; font-weight: normal; font-style: italic; src: url(/modiabrukerdialog/fonts/ModIt.woff) format('woff'); }

/* SEMI BOLD ITALIC */
@font-face { font-family: 'Modus'; font-weight: 600; font-style: italic; src: url(/modiabrukerdialog/fonts/ModSBIt.woff) format('woff'); }

/* BOLD ITALIC font-weight: 700 */
@font-face { font-family: 'Modus'; font-weight: bold; font-style: italic; src: url(/modiabrukerdialog/fonts/ModBIt.woff) format('woff'); }

/* EXTRA BOLD */
@font-face { font-family: 'Modus'; font-weight: 900; src: url(/modiabrukerdialog/fonts/MODUEB.woff) format('woff'); }

/* LIGHT */
@font-face { font-family: 'Modus'; font-weight: 200; src: url(/modiabrukerdialog/fonts/MODUL.woff) format('woff'); }



/* "ALT" VERSIONS*/

/* ALT ITALIC font-weight: 400 */
@font-face { font-family: 'ModusAlt'; font-weight: normal; font-style: italic; src: url(/modiabrukerdialog/fonts/ModAIt.woff) format('woff'); }

/* ALT SEMI BOLD ITALIC */
@font-face { font-family: 'ModusAlt'; font-weight: 600; font-style: italic; src: url(/modiabrukerdialog/fonts/ModASBIt.woff) format('woff'); }

/* ALT BOLD ITALIC font-weight: 700 */
@font-face { font-family: 'ModusAlt'; font-weight: bold; font-style: italic; src: url(/modiabrukerdialog/fonts/ModABIt.woff) format('woff'); }

