.pleiepenger-panel {
  .pleiepenger-etikett {
    text-transform: uppercase;
    font-size: 0.857rem;
    padding-top: .2rem;
  }

  .pleiepenger-verdi {
    font-weight: bold;
    font-size: 1.2rem;
    float: right;
  }

  .progress-bar-bg {
    background: #E9E7E7;
    height: 2.75rem;
    width: 100%;
    margin-top: .5rem;
  }

  .progress-bar {
    background: #5c4378;
    height: 100%;
    float: left;
  }

  .forbrukte-dager-verdi {
    font-weight: 800;
    font-size: 1.4rem;
    color: #5c4378;
  }

  .forbrukte-dager-etikett {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: .5em;
  }

  .forbrukte-dager {
    margin-bottom: 2em;
  }

  .barnet-etikett {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .barnet-verdi {
    font-size: 1.2rem;
  }

  section.arbeidssituasjon {
    float: right;
  }
}
