.sidebar {
  .knapper {
    height: 100px;
    .knapp-liten {
      background: @grayLight;
      border: none;
      margin-top: 40px;
    }

    .oppgaveplukker {
      position: relative;
      float: left;

      .plukk-valg {
        background: @grayLight url(../svg/radio_ikon.svg) no-repeat center;
        height: 32px;
        padding: 6px 10px 7px;
        &:after {
          display: inline-block;
          margin-top: 24px;
          border-top: 8px solid @grayLight;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          content: "";
        }
      }

      .temaboks {
        background: #333;
        border: solid 1px black;
        color: white;
        position: absolute;
        left:-120px; right:0; top: 80px;
        z-index: 1000;
        padding: 10px;
        ul {
          list-style: none;
          margin: 0 0 0 10px;
          padding: 0;
          li {
            padding: 3px 0 8px 28px;
            cursor: pointer;
            background: url(../svg/radio_svart.svg) no-repeat;
            &.valgt {
              background: url(../svg/radio_svart_valgt.svg) no-repeat;
            }
          }
        }

      }
    }

    .oppgavevelger  {
      position: relative;
      float: left;
      margin-left: 1em;

      .knapp-liten {
        position: relative;
        &:after {
          position: absolute;
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          border-top-color: @grayLight;
          border-width: 10px;
          margin-left: -10px;
        }
      }

      .oppgavevalg-liste {
        position: absolute;
        top: 85px;
        padding: 1em;
        background-color: #333;
        border: 1px solid #000;
      }
    }
  }
}

.informasjonsboks {
  text-align: center;
  padding: 30px 30px 40px;
  background: @grayDark;
  max-width: 100%;
  width: 500px;
  z-index: 1050;
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0 15rem @grayLight;

  h1, p {
    color: @white;
  }

  p {
    margin-bottom: 30px;
  }

  .knapp-info {
    color: @white;
    background: @grayDark;
    border: 1px solid #675c53;

    &:hover, &:focus {
      background: @blue;
      color: @black;
    }
  }

  [class*="knapp"]:first-of-type + a {
    margin-left: 10px;
  }
}

.wicket-mask-dark {
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}