@sideMargin: 1.5em;

.dialogform {
  .temavelger {
    width: 100%;
  }
  .kanalvelger {
    margin: 1em @sideMargin;
    .kanalvalg {
      float: left;
      label {
        width: auto;
        color: @modiasvart;
      }
    }
  }
  .tekstfelt {
    margin: 0 @sideMargin;
  }
  .send {
    margin: 1em @sideMargin;
  }
}

.kvittering {
  margin-top: 200px;
  text-align: center;
}