@sideMargin: 30px;
@modiasvart: #333;
@graabakgrunn: #f1f1f1;
@rammeborder: #e4e3e3;
@dodgerblue: #0067c5;
@modiagraaskrift: #b7b1a9;
@modiaaquablaa: #008fc4;

.dialogpanel {
  text-align: center;
  padding-bottom: 2em;
  .start-ny-dialog-lenke-container {
    margin-top: 150px;
  }
  .traadcontainer {
    margin: 30px 0 0;
  }
  .modusVelger {
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 20px;

    input + label {
      display: block;
      margin: 0 auto;
      color: #3e3832;
      width: 12em;
      &:first-of-type {
        margin-top: 10px;
      }
    }
  }
  .warn {
    margin: 0 30px 30px;
  }
  .vistraad {
    .ekspanderingspil {
      top: 4px;
      &.ekspandert {
        top: -4px;
      }
    }
  }
  .traadoverskrift {
    .ekspanderingspil {
      border-top-color: @modiasvart;
      &.ekspandert {
        border-bottom-color: @modiasvart;
      }
    }
  }
  .ekspanderingcontainer {
    position: relative;
    cursor: pointer;
  }
  .ekspanderingspil {
    display: inline-block;
    position: absolute;
    top: 14px;
    width: 0;
    height: 0;
    margin-left: 1em;
    border: 8px solid transparent;
    border-top-color: #0067c5;
    &.ekspandert {
      top: 6px;
      border: 8px solid transparent;
      border-bottom-color: #0067c5;
    }
  }
  form {
    text-align: center;
  }
  .typeoverskrift {
    display: inline-block;
    &.fortsettdialogpaneloverskrift {
      margin: 0;
    }
  }
  .temagruppeoverskrift {
    margin: 0.8em 0 0;
    font-size: 14px;
    font-weight: bold;
  }
  .fritekst {
    margin: 0 @sideMargin;
    text-align: left;
    line-height: 1.4em;
    a {
      text-decoration: underline;
    }
  }
  .dato {
    text-transform: uppercase;
  }
  .kanalvelger {
    margin: 1em auto;
    text-align: center;
    .kanalvalg {
      display: inline;
      width: 40%;
      margin-right: 1.5rem;
      input[type="radio"] + label {
        width: auto;
        margin: 0.5rem 0;
        border: 1px solid transparent;
        background-position: 0;
        > * {
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
        }
        > span:first-child {
          display: inline-block;
          margin-bottom: 0px;
        }
        > .tekst {
          background-image: url(../img/skriftlig.svg);
        }
        > .telefon {
          background-image: url(../img/telefon.svg);
        }
        > .oppmote {
          background-image: url(../img/personligoppmote.svg);
        }
      }
      input[type="radio"]:checked + label {
        > .tekst {
          background-image: url(../img/skriftlig_valgt.svg);
        }
        > .telefon {
          background-image: url(../img/telefon_valgt.svg);
        }
        > .oppmote {
          background-image: url(../img/personligoppmote_valgt.svg);
        }
      }
      input[type="radio"]:focus + label {
        border: 1px dashed #00a9e0;
      }
    }
  }
  .navident {
    font-weight: bold;
  }
  .send {
    margin: 2em 0;
    &.lang-tekst {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 14em;
    }
  }
  .kanaloverskrift {
    position: relative;
    font-weight: 600;
    background-color: @modiasvart;
    color: @modiagraaskrift;
    padding: 7px 0;
    margin: 0 @sideMargin;

    .skrivestotteToggle {
      border: 0;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 25px;
      height: 25px;
      background: url(../img/dokument.svg) no-repeat;
      background-size: 25px;
    }
  }
  .tekstfelt {
    margin: 0 @sideMargin;
  }
  .temagruppevelger-wrapper, .nyTemagruppeSkjuler {
    margin: 0 @sideMargin;
    position: relative;
    .temagruppevelger {
      width: 100%;
    }
    .ui-front {
      z-index: 100;
    }
    .ui-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: block;
      outline: none;
      .ui-menu-item {
        position: relative;
        margin: 0;
        padding: 0.5em 1em;
        cursor: pointer;
        min-height: 0;
      }
      .ui-state-focus, .ui-state-active {
        background-color: #0067c5;
        color: #fff;
      }
    }
    .ui-selectmenu-menu {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      background-color: #fff;
      box-shadow: 0 5px 8px 0 #cccccc;
    }
    .ui-selectmenu-open {
      display: block;
    }
    .ui-selectmenu-button {
      display: inline-block;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      font-weight: bold;
      background-color: #fff;
      border: 1px solid #cccccc;
      span {
        &.ui-icon {
          position: absolute;
          height: 0;
          width: 0;
          border: 8px solid transparent;
          border-top-color: #0067c5;
          right: 1em;
          top: 12px;
        }
        &.ui-selectmenu-text {
          padding: 0.5em 1em;
          display: block;
          line-height: 1.4;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  input[type=checkbox] + label {
    width: 12em;
    color: #3e3832;
  }

  input[disabled=disabled] + label {
    cursor: auto;
  }

  .feedback {
    margin: 0 @sideMargin;
  }
}

.leggtilbake {
  position: relative;
  width: 100%;
  padding: @sideMargin;
  border-top: 1px solid black;
  text-align: center;
  background-color: @modiasvart;
  > div.robust-strek {
    padding-bottom: 1px;
    margin-bottom: 22px !important;
  }

  h2, h4, p {
    color: @modiagraaskrift;
  }
  h4 {
    font-family: Modus, Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 11px;
  }
  hr {
    margin-bottom: 20px;
    margin-top: 33px;
  }
  a {
    display: inline-block;
    margin-top: 20px;
    color: #00a9e0;
  }
  textarea {
    display: block;
    margin: 10px 0 0;
    width: 100%;
    height: 10em;
    resize: none;
  }
  .knapp-hoved-stor {
    color: #fff;
  }
  .temagruppevelger-wrapper, .nyTemagruppeSkjuler {
    text-align: left;
    margin: 0px 0 0 5px;
    .ui-selectmenu-menu {
      box-shadow: none;
      > ul {
        border: 1px solid #999;
        li {
          background-color: @modiasvart;
          color: #b7b1a0;
        }
      }
    }
    .ui-menu {
      .ui-menu-item {
        padding: 0.5em 2.3em;
        color: white;

        &:first-child {
          color: @modiagraaskrift;
        }
      }
      .ui-state-focus, .ui-state-active {
        color: #00a9e0;
        background-color: @modiasvart;
        padding: 0.5em 1.1em;

        &:first-child {
          padding: 0.5em 2.3em;
        }
        &:not(:first-child) {
          &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 3px;
            display: inline-block;
            background-color: #00a9e0;
            margin-right: 10px;
            margin-bottom: 1px;
          }
        }
      }
    }
    .ui-selectmenu-button {
      background-color: @modiasvart;
      color: white;
      border: 0;
      outline: none !important;
      span.ui-selectmenu-text {
        padding: 0.5em 2.3em;
      }
      span.ui-icon {
        border-top-color: #00a9e0;
      }
    }
  }
  .aarsak {
    margin: 0 auto;
    width: 50%;
    text-align: left;
    input[type=radio] + label {
      margin-top: 7px;
      padding: 5px 5px 5px 37px;
      min-height: 22px;
      line-height: 22px;
      background-position: 5px;
    }
    input[type=radio]:focus + label {
      border: 1px dashed #00a9e0;
    }
    &.feiltema label {
      margin-bottom: 0px;
    }
  }
  .oppgaveOpprettetFeedback {
    padding-top: 20px;

    .robust-ikon-gront-sjekk {
      background-image: url(../img/hake_stor02.svg);
      padding-top: 70px;
    }
    > p {
      font-size: 1.8rem;
      font-family: Modus, Arial, Helvetica, sans-serif;
      font-weight: normal;
    }
  }
}

.kvittering {
  margin-top: 100px;
  text-align: center;
  h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: normal;
    padding: 0 30px;
  }
  .robust-ikon-gront-sjekk {
    padding-top: 70px;
    background-image: url(../img/hake_stor02.svg);
  }
}

.lowercase {
  text-transform: lowercase;
}

.journalforingSporsmal {
  margin: 0 30px 20px 30px;
  .sak-info, .velg-sak {
    padding: 7px 20px;
  }
  .sak-info {
    border: 1px solid #cccccc;
    color: #333333;
    .clear {
      clear: both;
    }
    .pil {
      display: inline-block;
      margin-bottom: 1px;
      .pil(8px, #3e3832); // definisjon i common.less
    }
    .skillestrek {
      margin: 0 5px;
    }
    a {
      text-decoration: none;
      color: #3e3832;
    }
    .venstrestilt {
      background: url(../img/journalfore_svart.svg) 0 0 no-repeat;
      padding-left: 25px;
      text-align: left;
      float: left;
      width: 80%;
    }
    .hoyrestilt {
      text-align: right;
      float: right;
      width: 20%;
    }
  }
  //Overriding av default journalføringspanel
  .journalforingpanel {
    background-color: @modiasvart;
    padding: 7px 20px;
    h2 {
      color: @modiagraaskrift;
      margin: 14px;
    }
    .saklisteelement > label {
      margin-top: 0px;
      margin-bottom: 1rem;

      .saksTekst {
        margin: 0 1rem 0 0;
        & + span {
          margin: 0 1rem 0 0;
        }
      }
    }
  }
  .avbryt-knapp {
    color: #20a9e1;
    display: block;
    margin: 1rem 0;
  }
}
