@sideMargin: 1.5em;

.dialogform {
  margin: @sideMargin;
  .temavelger {
    width: 100%;
    background-color: #fff;
    font-weight: bold;
  }
  .kanalvelger {
    margin: 1em 0;
    .kanalvalg {
      float: left;
      label {
        width: auto;
        color: @modiasvart;
      }
    }
  }
  .send {
    margin: 1em 0;
  }
}

.kvittering {
  margin-top: 200px;
  text-align: center;
}