@sideMargin: 30px;
@modiasvart: #333;
@graabakgrunn: #f1f1f1;
@rammeborder: #e4e3e3;
@dodgerblue: #0067c5;
@modiagraaskrift: #b7b1a9;
@modiaaquablaa: #008fc4;

.dialogform {
  text-align: center;
  .typeoverskrift {
    margin: 30px 0;
    &.svarpaneloverskrift {
      margin-bottom: 0;
    }
  }
  .temaoverskrift {
    margin: 0.8em 0 0;
  }
  .robust-strek {
    padding-bottom: 25px;
    margin-bottom: 25px !important;
  }
  .customSelect {
    font-size: 1.21rem;
    width: 100%;
    color: @dodgerblue;
    font-weight: bold;
    padding: 0.5em @sideMargin;
    &.customSelectFocus {
      border: 1px dashed #00a9e0;
    }
  }
  .fritekst {
    text-align: left;
    margin: 0 @sideMargin;
    line-height: 1.4em;
    a {
      text-decoration: underline;
    }
  }
  .kanalvelger {
    margin: 1em auto;
    text-align: center;
    .kanalvalg {
      display: inline;
      width: 40%;
      margin-right: 1.5rem;
      input[type="radio"] + label {
        width: auto;
        margin: 0.5rem 0;
        border: 1px solid transparent;
        background-position: 0;
        > * {
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
        }
        > .tekst {
          background-image: url(../img/skriftlig.svg);
        }
        > .telefon {
          background-image: url(../img/telefon.svg);
        }
        > .oppmote {
          background-image: url(../img/personligoppmote.svg);
        }
      }
      input[type="radio"]:checked + label {
        > .tekst {
          background-image: url(../img/skriftlig_valgt.svg);
        }
        > .telefon {
          background-image: url(../img/telefon_valgt.svg);
        }
        > .oppmote {
          background-image: url(../img/personligoppmote_valgt.svg);
        }
      }
      input[type="radio"]:focus + label {
        border: 1px dashed #00a9e0;
      }
    }
  }
  .navident {
    font-weight: bold;
  }
  .tekstfelt {
    margin: 0 @sideMargin;
  }
  .send {
    margin: 2em 0;
  }
  .feedback {
    margin: 0 @sideMargin;
  }
  .kanaloverskrift {
    font-weight: 600;
    background-color: @modiasvart;
    color: @modiagraaskrift;
    padding: 7px 0;
    margin: 0 @sideMargin;
  }
}

.kvittering {
  margin-top: 200px;
  text-align: center;
}

