@sideMargin: 2em;

.dialogform {
  .temavelger {
    width: 100%;
  }
  .kanalvelger {
    margin: 0 @sideMargin;
  }
  .tekstfelt {
    margin: 0 @sideMargin;
  }
  .send {
    margin: 2em @sideMargin;
  }
}