.soknads-liste.liste  UL  LI {
    padding: 0 0 0 30px;
}

.soknadlistitem .soknadstatus {
    float: right;
    display: inline-block;
    width: 20%;
}

.soknadlistitem .soknadstatus .status-icon {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin: 1em auto;
    /*display: block;*/
}

.soknadlistitem .soknadstatus .status-text {
    /*margin: auto;*/
    text-align: center;
    font-size: 0.8em;
    color:black;

}

.soknadlistitem .soknadstatus .status-icon.mottat {
    background-color: rgb(12, 169, 225);;
}

.soknadlistitem .soknadstatus .status-icon.under-behandling {
    background-color: rgb(238, 190, 0);;
}

.soknadlistitem .soknadstatus .status-icon.nylig-ferdig {
    background-color: transparent;
    border: 1px solid rgb(12, 169, 225);
}

.soknadlistitem .soknadstatus .status-icon.gammel-ferdig {
    background-color: rgb(236, 40, 141);
}

.soknadlistitem .soknadData {
    border-right: 1px solid rgb(209, 209, 209);
    display: inline-block;
    float: left;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;

}

.soknadlistitem .soknadData .tidsrom {
    color: black;
}

.soknadlistitem .soknadData .heading {
    font-size: 1.14em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.soknadlistitem .soknadData .metaData {
    margin: 1rem 37px 0 0;
    overflow: auto;
}

.soknadlistitem .soknadData .metaData li {
    float: left;
    display: inline;
    padding: 0 8px 0 0;
    margin-right: 8px;
    border-right: 1px solid;
}

.soknadlistitem .soknadData .metaData li:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: none;

}

