// TEKNISK_GJELD: Dette er felles widget-styling som burde deles mellom alle widgets. Samme som .meldinger-metadata.
@utbetalingHoyde: 85px;
@hoydePadding: 1rem;

@kolonneVenstreWidth: 35%;
@kolonneHoyreWidth: 65%;
@borderColor: #d1cfcf;
@sidePadding: 2rem;
@toppBunnPadding: 1.5rem;

// Widget
.widget-navigasjon.widget-utbetaling {

	.klikkbar-header {
		cursor: pointer;
	}

	.hent-utbetalinger {
		text-align: center;
        span {
          color: #0067cf;
          display: block;
        }
		span:last-child {
			display: block;
			margin: 0.5em 0;
		}
	}

	#ajax-indikator {
		display: inline-block;
		background-image: url('../img/ajaxloader/hvit/loader_hvit_64.gif');
		margin-top: 1em;
		width: 64px;
		height: 64px;
	}

	& > ul > li > a {
		padding: 0;
		&:focus {
			background-color: #dadada !important;
			color: #3e3832 !important;
			.melding-metadata {
				border-right-color: #999;
			}
		}
		.utbetaling-metadata {
			display: inline-block;
			margin: 0;
			padding: @hoydePadding 30px;
			width: 85%;
			border-right: 1px solid #d1d1d1;
			h2 {
				font-family: 'Modus', arial, sans-serif;
				margin-top: 0.25em;
				margin-bottom: 0.5em;
				font-size: 1.1rem;
				font-weight: bold;
				text-transform: uppercase;
			}
			.periode {
				margin-right:0.5rem;
			}
			.belop-med-valuta {
				margin-left: 0.5rem;
				font-weight: bold;
			}
		}
		.utbetalingstatus {
			display: inline-block;
			width: 14%;
			padding-right: 5px;
			margin-bottom: 5px;
			overflow: hidden;
			text-align: center;
			.mottaker-indikator {
				margin-bottom: 10px;
			}
			.utbetalingstatus-tekst {
                overflow: hidden;
                text-overflow: ellipsis;
				text-transform: capitalize;
				margin: 0 auto;
				font-size: 0.85rem;
			}
		}
	}
}

.mottaker-indikator {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid #333333;
  vertical-align: middle;
  &.BRUKER {
    background-color: #333333;
  }
}

.ramme-header {
  padding: 1.5rem 0;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  background-color: @grayLighter;
  border-bottom: 1px solid @borderColor;
  text-transform: uppercase;
  font-family: 'Modus', Helvetica, Arial, sans-serif;
}

.kolonne-venstre {
  float: left;
  padding-right: @sidePadding;
  width: @kolonneVenstreWidth;

  .arena-lenke {
    font-family: "Modus", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    color: @blueDark;
  }

  .filter-form {
    .filter-block {
      margin-top: 3rem;
      border: 1px solid @borderColor;
      .ramme-header {
        border: 0;
      }
      .filter-header {
        margin-top: 0;
        text-transform: uppercase;
        position: relative;
        color: @grayDark;
        font-size: 0.875rem;
      }
      .filter-block-content {
        background-color: @grayLighter;
        padding: @toppBunnPadding @sidePadding;
        border-top: 1px solid @borderColor;
        input[type="submit"] {
          margin-top: 0.75em;
        }
        .mottaker-indikator {
          margin-bottom: 2px;
        }
		div {
			margin-bottom: 0.75rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
      }
	  input[type=checkbox].bryter {
		&+label {
		  width: auto;
	      padding-right: 7px;
		}
		&:focus + label {
		  border: 1px dotted #555;
		}
	  }
	}

    .dato-plukker-filter {
      display: inline-block;
      label {
        display: inline-block;
        margin: 0;
        width: 49%;
        text-align: left;
        color: @grayDark;
        &:nth-child(0) {
          float: left;
        }
        &:nth-child(1) {
          float: right;
        }
        input {
          width: 100%;
        }
      }
    }
  }
}

.kolonne-hoyre {
  position: relative;
  width: @kolonneHoyreWidth;
  float: right;
  font-family: 'Modus', Helvetica, Arial, sans-serif;

  #ajax-indikator {
    background-image: url('../img/ajaxloader/graa/loader_graa_32.gif');
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 16px;
  }
}

.element {
  display: inline-block;
  padding-right: 1rem;
  font-weight: 600;
  label {
    text-transform: uppercase;
    width: auto;
    display: block;
    margin: 0;
  }
}

.utbetaling-ramme {
  margin-bottom: 2rem;
  border: 1px solid @borderColor;

  .utbetaling-ramme-innhold {
    background-color: white;
    font-size: 0.9rem;
  }
  .feilmelding {
    text-align: center;
    a {
      display: inline-block;
      padding-bottom: 15px;
    }
  }
  .element {
    label {
      color: #3e3832;
    }
  }
  .summeringsvisning {
    float: right;
    width: 49%;
    .element {
      width: 29%;
      margin-right: 3%;
      span {
        float: right;
      }
    }
  }
}

table.utbetaling-tabell {
  page-break-inside: auto;
  border-spacing: 0;
  margin-top: 1rem;
  text-align: left;
  width: 100%;
  position: relative;
  tbody {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  th {
    text-transform: uppercase;
    font-weight: normal;
    color: #3e3832;
    font-size: 0.857rem;
    width: 18%;
    max-width: 18%;
    min-width: 18%;
    &:first-of-type {
      width: 34%;
      text-align: left;
    }
  }
  td {
    padding-right: 30px;
    vertical-align: bottom;
    text-align: right;
    &:first-of-type {
      text-align: left;
      width: 33%;
      padding-right: 15px;
    }
    &:last-of-type {
      padding-right: 0;
    }
    .oppsummert-periode {
      position: absolute;
      left: 0;
      top: 8%;
      font-size: 1.2rem;
    }
  }
  tbody:not(:first-of-type) tr:first-child td {
    padding-top: 0.5rem;
  }
  tbody:not(:last-of-type) tr:last-child td {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid @borderColor;
  }
  .uthevet {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.oppsummering-total {
  width: 100%;
  padding: @toppBunnPadding @sidePadding;
  cursor: pointer;
  .main {
    position: relative;
    .oppsummeringssummer {
      display: inline-block;
    }
    .element {
      margin-top: 10px;
    }
  }
  &:not(.ekspandert) {
    .detaljpanel {
      display: none;
    }
  }
}

.detaljpanel {
  table {
    border-top: 1px solid @borderColor;
    padding-top: 1rem;
  }
  .skillestrek-topp {
    border-top: 1px solid @borderColor;
    margin-top: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
  .element {
    height: 100%;
    vertical-align: top;
  }
}

.utbetalinger {
  .oppsummeringslinje {
    background-color: #333333;
    color: #b7b1a9;
    padding: 1rem 2rem;
    table {
      th {
        color: #b7b1a9;
      }
    }
  }
  .utbetalingslinje {
    padding: @toppBunnPadding @sidePadding;
    border-bottom: 1px solid @borderColor;
    cursor: pointer;
    &:last-of-type {
      border: none;
    }
    .main {
      position: relative;
      .statusindikator {
        margin-bottom: 10px;
        font-weight: bold;
        display: inline-block;
        * {
          margin-right: 0.5em;
          display: inline-block;
          vertical-align: middle;
          &:last-child {
            margin: 0;
          }
        }
        .dot {
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          &.utbetalt {
            background-color: #0fba47;
          }
        }
        .statustekst {
          text-transform: uppercase;
        }
      }
      .element {
        span {
          position: absolute;
          bottom: 0;
        }
        label {
          margin-bottom: 15px;
        }
        &.beskrivelse {
          width: 40%;
          label {
            max-width: 100%;
            word-wrap: break-word;
          }
        }
      }
    }
    .belop {
      text-align: right;
    }
    .detaljpanel {
      display: none;
    }
    &.ekspandert {
      background-color: #f1f1f1;
    }
  }
}

.utbetalingslinje, .oppsummering-total {
  .main {
    .element {
      text-transform: uppercase;
      position: relative;
      span {
        font-weight: bold;
      }
    }
  }
  .skriv-ut-container {
    display: inline-block;
    float: right;
  }
  .skriv-ut {
    float: right;
    background: transparent url('../img/print.svg') no-repeat;
    width: 16px;
    height: 12px;
    &:hover {
      background-image: url('../img/print_hover.svg');
    }
  }

  .ekspander-pil {
    float: right;
    background: transparent url('../img/pil.svg') no-repeat;
    width: 17px;
    height: 12px;
    margin-left: 16px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    &:hover {
      background-image: url('../img/pil_hover.svg');
    }
  }

  &.ekspandert .ekspander-pil {
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }
}
