@kolonneVenstreWidth: 35%;
@kolonneHoyreWidth: 65%;
@borderColor: #d1cfcf;
@sidePadding: 2rem;
@toppBunnPadding: 1.5rem;

input[type=checkbox].bryter {
  heigth: 0;
  width: 0;
  &+label {
    background: url(../img/bryter.svg) 0 0 no-repeat;
    height: 32px;
    color: #333333;
    margin: 0 0 0.75em;
    padding: 7px 0 0 65px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:checked + label {
    background: url(../img/bryter_valgt.svg) 0 0 no-repeat;
  }
}

.mottaker-indikator {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid #333333;
  vertical-align: middle;
  &.BRUKER {
    background-color: #333333;
  }
}

.kolonne-venstre {
  float: left;
  padding-right: @sidePadding;
  width: @kolonneVenstreWidth;

  .arena-lenke {
    font-family: "Modus", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    color: @blueDark;
  }

  .filter-form {
    .filter-block {
      margin-top: 3rem;
      .filter-block-content {
        border: 1px solid @borderColor;
        background-color: @grayLighter;
        padding: @toppBunnPadding @sidePadding;
        margin-top: 0.4rem;
        a {
          color: #ffffff;
          margin-top: 0.75em;
        }
        .mottaker-indikator {
          margin-bottom: 2px;
        }
      }
    }

    .knapp-filter {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 0.5rem;
      text-align: left;
      &.valgt {
        color: white;
        background-color: #8c8c8c;
        background-image: none;
        box-shadow: inset 0 0 10px #7b7b7b;
      }
      &:last-of-type {
        margin: 0;
      }
    }

    .dato-plukker-filter {
      display: inline-block;
      label {
        display: inline-block;
        margin: 0;
        width: 49%;
        text-align: left;
        &:nth-child(1) {
          float: left;
        }
        &:nth-child(2) {
          float: right;
        }
        input {
          width: 100%;
        }
      }
    }
  }
}

.kolonne-hoyre {
  position: relative;
  width: @kolonneHoyreWidth;
  float: right;
  font-family: 'Modus', Helvetica, Arial, sans-serif;

  #ajax-indikator {
    background-image: url('../img/ajaxloader/graa/loader_graa_32.gif');
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 16px;
  }
}

.element {
  display: inline-block;
  padding-right: 1rem;
  font-weight: 600;
  label {
    text-transform: uppercase;
    width: auto;
    display: block;
    margin: 0;
  }
}

.utbetaling-ramme {
  margin-bottom: 2rem;
  border: 1px solid @borderColor;

  .utbetaling-ramme-header {
    padding: 1.5rem 0;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    background-color: @grayLighter;
    border-bottom: 1px solid @borderColor;
    text-transform: uppercase;
  }
  .utbetaling-ramme-innhold {
    background-color: white;
    font-size: 0.9rem;
  }
  .feilmelding {
    text-align: center;
    a {
      display: inline-block;
      padding-bottom: 15px;
    }
  }
  .element {
    label {
      color: #3e3832;
    }
  }
  .summeringsvisning {
    float: right;
    width: 49%;
    .element {
      width: 29%;
      margin-right: 3%;
      span {
        float: right;
      }
    }
  }
}

table.utbetaling-tabell {
  page-break-inside: auto;
  border-spacing: 0;
  margin-top: 1rem;
  text-align: left;
  width: 100%;
  position: relative;
  tbody {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  th {
    text-transform: uppercase;
    font-weight: normal;
    color: #3e3832;
    font-size: 0.857rem;
    width: 18%;
    max-width: 18%;
    min-width: 18%;
    &:first-of-type {
      width: 34%;
      text-align: left;
    }
  }
  td {
    padding-right: 30px;
    vertical-align: bottom;
    text-align: right;
    &:first-of-type {
      text-align: left;
      width: 33%;
      padding-right: 15px;
    }
    &:last-of-type {
      padding-right: 0;
    }
    .oppsummert-periode {
      position: absolute;
      left: 0;
      top: 8%;
      font-size: 1.2rem;
    }
  }
  tbody:not(:first-of-type) tr:first-child td {
    padding-top: 0.5rem;
  }
  tbody:not(:last-of-type) tr:last-child td {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid @borderColor;
  }
  .uthevet {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.oppsummering-total {
  width: 100%;
  padding: @toppBunnPadding @sidePadding;
  cursor: pointer;
  .main {
    position: relative;
    .oppsummeringssummer {
      display: inline-block;
    }
    .element {
      margin-top: 10px;
    }
  }
  &:not(.ekspandert) {
    .detaljpanel {
      display: none;
    }
  }
}

.detaljpanel {
  table {
    border-top: 1px solid @borderColor;
    padding-top: 1rem;
  }
  .skillestrek-topp {
    border-top: 1px solid @borderColor;
    margin-top: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
  .element {
    height: 100%;
    vertical-align: top;
  }
}

.utbetalinger {
  .oppsummeringslinje {
    background-color: #333333;
    color: #b7b1a9;
    padding: 1rem 2rem;
    table {
      th {
        color: #b7b1a9;
      }
    }
  }
  .utbetalingslinje {
    padding: @toppBunnPadding @sidePadding;
    border-bottom: 1px solid @borderColor;
    cursor: pointer;
    &:last-of-type {
      border: none;
    }
    .main {
      position: relative;
      .statusindikator {
        margin-bottom: 10px;
        font-weight: bold;
        * {
          display: inline-block;
          vertical-align: middle;
        }
        .dot {
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          &.utbetalt {
            background-color: #0fba47;
          }
        }
      }
      .element {
        span {
          position: absolute;
          bottom: 0;
        }
        label {
          margin-bottom: 15px;
        }
        &.beskrivelse {
          width: 40%;
          label {
            max-width: 100%;
            word-wrap: break-word;
          }
        }
      }
    }
    .belop {
      text-align: right;
    }
    .detaljpanel {
      display: none;
    }
    &.ekspandert {
      background-color: #f1f1f1;
    }
  }
}

.utbetalingslinje, .oppsummering-total {
  .main {
    .element {
      text-transform: uppercase;
      position: relative;
      span {
        font-weight: bold;
      }
    }
  }
  .skriv-ut {
    float: right;
    background: transparent url('../img/print.svg') no-repeat;
    width: 16px;
    height: 12px;
    &:hover {
      background-image: url('../img/print_hover.svg');
    }
  }

  .ekspander-pil {
    float: right;
    background: transparent url('../img/pil.svg') no-repeat;
    width: 17px;
    height: 12px;
    margin-left: 16px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    &:hover {
      background-image: url('../img/pil_hover.svg');
    }
  }

  &.ekspandert .ekspander-pil {
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
  }
}

.filter-header {
  text-transform: uppercase;
  position: relative;
  margin-top: 1em;
  color: @grayLight;
  font-size: 0.875rem;
  margin-bottom: 8px;
  cursor: default;
}