.temavelger {
    float: left;
    width: 100%;
    padding: 0;
    border: 1px solid darkgrey;
    border-top: 0;
    margin-top: 0;
}

.temavelger {
    overflow: auto;
    max-height: 25em;
}

.temastruktur, .tema {
    list-style: none;
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.selected {
    background-color: dodgerblue;
    color: white;
}

.temastruktur {
    padding-left: 1em;
}
.tema {
    padding-left: 2em;
}

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #545454;
}