// TEKNISK_GJELD: Dette er felles widget-styling som burde deles mellom alle widgets. Samme som .meldinger-metadata.
@utbetalingHoyde: 85px;
@hoydePadding: 1rem;
@borderColor: #d1d1d1;
.widget-navigasjon.widget-utbetaling {

  .klikkbar-header {
    cursor: pointer;
  }

  .hent-utbetalinger {
    text-align: center;
    a {
      margin: 0;
      padding: 0;
      color: #0067cf;
    }
    span {
      display: block;
      margin: 0.5em 0;
    }
  }

  #ajax-indikator {
    display: inline-block;
    background-image: url('../img/ajaxloader/hvit/loader_hvit_64.gif');
    margin-top: 1em;
    width: 64px;
    height: 64px;
  }

  & > ul > li > a {
    padding: 0;
    &:focus {
      background-color: #dadada !important;
      color: #3e3832 !important;
      .melding-metadata {
        border-right-color: #999;
      }
    }
    .utbetaling-metadata {
      display: inline-block;
      margin: 0;
      padding: @hoydePadding 30px;
      width: 85%;
      border-right: 1px solid #d1d1d1;
      h2 {
        font-family: 'Modus', arial, sans-serif;
        margin-top: 0.25em;
        margin-bottom: 0.5em;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      .periode {
        margin-right:0.5rem;
      }
      .belop-med-valuta {
        margin-left: 0.5rem;
        font-weight: bold;
      }
    }
    .utbetalingstatus {
      display: inline-block;
      width: 14%;
      padding-right: 5px;
      margin-bottom: 5px;
      overflow: hidden;
      text-align: center;
      .mottaker-indikator {
        margin-bottom: 10px;
      }
      .utbetalingstatus-tekst {
        text-transform: capitalize;
        margin: 0 auto;
        font-size: 0.85rem;
        text-transform: capitalize;
      }
    }
  }
}