@imgDir: "/modiabrukerdialog/img/saksoversikt";

.saksoversikt-lerret-container {
  padding: 0 !important;
  height: 100%;
  .saksoversikt-liste {
    width: 35%;
    height: 100%;
    float: left;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: visible;
  }

  .saksoversikt-innhold {
    float: left;
    width: 65%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;

    .dokumentliste {
      list-style: none;
      padding-left: 3rem;
      margin-top: 3rem;

      .dokumentlisteelement {
        margin-top: 2rem;
        padding-left: 7em;
        padding-bottom: 2rem;
        border-bottom: solid 2px lightgrey;

        background-repeat: no-repeat;
        background-image: url("@{imgDir}/dokument.png");
        background-position: 1.2rem 1.2rem;
        background-size: 3em;
        &:hover {
          background-image: url("@{imgDir}/dokument_hover.png");
        }

        .avsendertext {
          font-size: medium;
          margin-bottom: 1rem;
          display: block;

          .avsenderbrukertext {

          }
          .avsendernavtext {
            color: #c30000;
          }
        }

        .hoveddokumenttextwrapper {
          margin-bottom: 1rem;
        }
        .hoveddokumenttext {
          font-size: large;
          font-weight: bolder;
          border-bottom: 2px solid #b7b1a9;

        }
      }
    }

    .vedleggheader {
      margin-bottom: 0.5rem;
    }
    .vedleggliste {
      list-style: disc;
      .vedleggtext {
        border-bottom: 2px solid #b7b1a9;
      }
    }
    .tidligaredokumentimage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }

    .tidligaredokumentheader {
      font-size: x-large;
      margin-bottom: 0.5em;
    }
    .gamle-dokumenter {
      box-shadow: none;
    }
    .aarstall {
      background-color: #b7b1a9;
      padding: 0.5rem 2rem;
      font-weight: 600;
    }
  }
  .ingen-sakstemaer {
    width: 80%;
    padding: 10rem;
    margin: 6rem;
    border: 1px solid;
  }
  .ingendokumenterheader {
    margin-top: 2em;
    text-transform: none;
    font-size: 1.5em;
  }

  .ingendokumenterforklaring {
    text-transform: none;
    line-height: 2em;
    padding-bottom: 1em;
  }

  .ingendokumenter {
    padding: 2em 4em;
    text-align: center;
  }
}

.sakstema-container {
  height: 100%;
}

.sakstemaliste {
  padding: 0;
  height: 100%;
}

.saksoversikt-liste-element {
  border-bottom: 1px solid #ccc;
  display: block;

  label {
    width: 100%;
    margin-top: 0;
    border: 1px solid transparent;
  }

  label:before {
    display: none !important;
  }

  input[type=radio]:focus + label {
    outline: none;
    box-shadow: inset 0 0 0 2px #ffbd66;
    border: 1px solid #ffbd66;
  }
}

.saksoversikt-liste-element.valgt {
  background: #226aa4;
  .temaliste-label {
    color: #f5f5f5;
  }

  &:focus {
    background-color: #226aa4 !important;
  }
}

.temaliste-label {
  color: #3e3832;
}

.stortekst {
  font-family: Modus, Arial, Helvetica, sans-serif;
  font-size: 1.21rem;
  font-weight: 600
}

.datotekst {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}

.decorated {
  text-align: center;
  margin-bottom: 40px;
  display: block;
}

.typo-innholdstittel {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Modus, Arial, sans-serif;
}

.panel {
  padding: 2rem 2rem 2.25rem 2rem;
  background: #fff;
  display: block;
  box-shadow: 0 0px 13px -2px #d1d1d1;
}

.viktigavitepanel {
  background: #e1e1e1;
  padding: 2rem 5rem 5rem 5rem;
  overflow-x: hidden;
  overflow-y: visible;
  height: 100%;
}

.side-innhold a {
  border-bottom: 1px solid #b7b1a9;
  &:hover {
    text-decoration: none !important;
    border-bottom-color: #0067c5;
  }
}

.listepanel {
  height: 4rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1.5rem;
  margin-bottom: 1rem
}

.saksoversiktLerret-container {
  height: 100%;
}

.lerret.saksoversikt-lerret {
  overflow-y: hidden !important;
  padding: 0 !important
}
