@imgDir: "/modiabrukerdialog/img/saksoversikt";

.saksoversikt-lerret-container {
  @graa: #b7b1a9;

  padding: 0 !important;
  height: 100%;

  .ingen-sakstemaer {
    height: 25em;
    width: 45em;
    margin: 2em auto;
    border: 1px solid @graa;
    text-align: center;
  }
  .ingen-sakstemaer-tekst {
    margin-top: 1em;
    color: @graa
  }
  .ingensakstemaerimage {
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .saksoversikt-liste {
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    float: left;
    border-right: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: visible;
  }

  .saksoversikt-innhold {
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
  }
  .dokumentliste {
    list-style: none;
    margin-top: 3rem;
  }
  .dokumentliste-element {
    margin-top: 20px;
    padding-left: 90px;
    padding-bottom: 20px;
    border-bottom: solid 2px lightgrey;
  }

  .datodokumentliste {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .dokument-avsender {
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-bottom: 8px;

    .dokument-avsender-nav {
      color: #c30000;
    }
  }
  .tema-dokument {
    font-weight: bold;
  }

  .hoveddokument-tittel-wrapper {
    margin-bottom: 1rem;
  }

  .hoveddokument-tittel {
    font-size: 16px;
    font-weight: bolder;
  }

  .dokument-kan-vises {
    background-repeat: no-repeat;
    background-image: url("@{imgDir}/dokument.png");
    background-position: 30px 5px;
    background-size: 32px;
    &:hover {
      background-image: url("@{imgDir}/dokument_hover.png");
    }
  }

  .dokument-kan-ikke-vises {
    background-repeat: no-repeat;
    background-image: url("@{imgDir}/dokument_stop.png");
    background-position: 30px 5px;
    background-size: 45px;
    &:hover {
      background-image: url("@{imgDir}/dokument_stop_hover.png");
    }
  }

  .vedleggheader {
    margin-bottom: 8px;
  }

  .vedleggliste {
    list-style: disc;

    .vedlegg-element {
      margin-bottom: 8px;
    }

    .vedleggtext {
      border-bottom: 2px solid @graa;
      font-size: 14px;
      font-family: Arial, sans-serif;
      margin-bottom: 8px;
    }
    .ingen-sakstemaer {
      width: 80%;
      padding: 10rem;
      margin: 6rem;
      border: 1px solid;
    }

    a {
      color: #0067c5;
      text-decoration: none;
      background-color: transparent;
    }
    .lenke-fremhevet, .side-innhold, & {
      a:not(.knapp) {
        border-bottom: 1px solid @graa;
        &:active, &:hover {
          outline: none
        }
        &:active {
          color: #634689;
          border-bottom-color: #634689;
        }
        &:hover {
          border-bottom-color: #0067c5;
        }
      }
    }
  }
  .ingendokumenterheader {
    margin-top: 2em;
    text-transform: none;
    font-size: 1.5em;
  }

  .ingendokumenterforklaring {
    text-transform: none;
    line-height: 2em;
    padding-bottom: 1em;
  }

  .ingendokumenter {
    padding: 2em 4em;
    text-align: center;
  }
  .infoingenbidrag {
    width: 100%;
    border-bottom: solid 2px lightgrey;
    background-repeat: no-repeat;
    background-image: url("@{imgDir}/information-circle.svg");
    background-size: 1.8rem;
    padding-left: 6.2rem;
    padding-bottom: 1rem;
    background-position: 3rem;
    padding-top: 1rem;
    font-size: 14px;
    font-family: Arial, sans-serif;
  }

  .tidligaredokumentimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .tidligaredokumentheader {
    font-size: 14px;
    font-family: Arial, sans-serif;
  }

  .gamle-dokumenter {
    box-shadow: none;
    text-align: center;
  }

  .aarstall {
    background-color: @graa;
    padding: 0.5rem 2rem;
    font-weight: 600;
  }

  .dokumentheader {
    margin-bottom: 20px;

    .typo-element {
      display: inline;
      font-family: Arial, sans-serif;
      font-weight: 600;
      font-size: 16px;
    }
    .lokal-linker {
      float: right
    }
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .dokument-visning-page {
    height: 100%;
  }
  .fixed-header {
    background-color: #EFEFEF;
    padding: 1rem 3rem 1rem 3rem;
    margin: 0;
    position: relative;
    left: 0;
    right: 17px;
    z-index: 99;
    box-shadow: -1px 1px 5px 0px #b7b1a9;
  }
  .kulemeny {
    list-style: none;
    padding: 0;
    display: inline-block;
    float: right;
    margin: 0;

    li {
      display: inline-block;
      margin-left: 16px;
    }
    input {
      border: none;
      border-radius: 50%;
      background-color: #b7b1a9;
      width: 14px;
      height: 14px;

      &.active {
        background-color: #005b82;
      }

      &:hover {
        background-color: #0067c5
      }
    }
  }
}

.sakstema-container {
  position: relative;
  height: 100%;
}

.sakstemaliste {
  padding: 0;
  height: 100%;
}

.tema-ikke-tilgang {
  background-repeat: no-repeat;
  background-image: url("@{imgDir}/stop.svg");
  background-position: 18rem 1.2rem;;
  background-size: 2.5em;
}

.saksoversikt-liste-element {
  border-bottom: 1px solid #ccc;
  display: block;

  label:before {
    display: none !important;
  }

  input[type=radio] + label {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 0;
    width: 100%;
    border: 1px solid transparent;
  }

  input[type=radio]:focus + label {
    outline: none;
    box-shadow: inset 0 0 0 2px #ffbd66;
    border: 1px solid #ffbd66;
  }
}

.saksoversikt-liste-element.valgt {
  background-color: #226aa4;
  .temaliste-label {
    color: #f5f5f5;
  }
  .datotekst {
    color: #f5f5f5;
  }

  &:focus {
    background-color: #226aa4 !important;
  }
}

.temaliste-label {
  color: #3e3832;
  text-transform: none;
}

.behandlingsstatus-tekst {
  p {
    margin: 0;
    font-size: 0.9rem;
  }
}

.stortekst {
  font-family: Arial, sans-serif;
  font-size: 1.21rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.datotekst {
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.decorated {
  text-align: center;
  margin-bottom: 32px;
  display: block;
}

.typo-innholdstittel {
  font-size: 2.15rem;
  font-family: Modus, Arial, sans-serif;
  font-weight: 600;
}

.panel {
  padding: 2rem 2rem 2.25rem 2rem;
  background: #fff;
  display: block;
  box-shadow: 0 0px 13px -2px #d1d1d1;
}

.grattpanel {
  background: #e1e1e1;
  padding: 4rem 3rem 5rem 3rem;
  overflow-x: hidden;
  overflow-y: visible;
  height: 100%;
}

.side-innhold a {
  border-bottom: 1px solid #b7b1a9;
  &:hover {
    text-decoration: none !important;
    border-bottom-color: #0067c5;
  }
}

.listepanel {
  height: 4rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1.5rem;
  margin-bottom: 1rem
}

.saksoversiktLerret-container {
  height: 100%;
}

.lerret.saksoversikt-lerret {
  overflow-y: hidden !important;
  padding: 0 !important
}

.feilmelding-container {
  position: relative;
}

.feilmelding {
  position: absolute;
  top: 135px;
  left: 75px;
  z-index: 50;
  width: 80%;
}

.feilmelding-bakgrunn {
  border: 1px solid black;
  width: 100%;
}

.text-center {
  text-align: center;
}

.lamell-feilmelding {
  background-image: url("@{imgDir}/file-warning.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 25px;
  border: 1px solid #ccc;
  color: #BA3A26;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left:100px;
  font-weight:600;
  font-size: 1.21rem;
}
