.saksoversikt-lerret {
  margin-left: -30px;
  .saksoversikt-liste {
    width: 40%;
    height: 100%;
    padding: 0 0rem 2rem 0;
    float: left;
    overflow-y: scroll;
  }

  .saksoversikt-innhold{
    float: left;
    margin-left: 3rem;

    .dokumentliste{
      list-style: none;

      .dokumentlisteelement{
        margin-bottom: 3rem;
        .vedleggliste{
          list-style: disc;
        }
      }
    }
  }
}

.sakstemaliste {
  padding: 0;
}


.saksoversikt-liste-element {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.saksoversikt-liste-element.valgt {
  background: #226aa4;
  .temaliste-label {
    color: #f5f5f5;
  }

  &:focus {
    background-color: #226aa4 !important;
  }
}

.temaliste-label {
  color: #3e3832;
}

.stortekst{
  font-family: Modus, Arial, Helvetica, sans-serif;
  font-size: 1.21rem;
  font-weight: 600
}

.datotekst {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}