@skilleMargin: 0 0 3px;

.widget-navigasjon.widget-meldinger {
  position: relative;
  .opprettet {
    display: block;
  }
  .traadlengde {
    position: absolute;
    right: 10px;
    padding-right: 10px;
    line-height: 16px;
    font-weight: bold;
    background: url(../img/melding_flere%20innlegg.svg) no-repeat right;
    background-size: 7px;
  }
  .statusIkon {
    position: absolute;
    height: 12px;
    left: 7px;
    top: 54px;
  }
  .meldingstatus {
    margin-top: 16px;
    display: block;
    font-weight: 600;
  }
  .temagruppe {
    display: block;
    font-weight: 600;
  }
}