@skilleMargin: 0 0 3px;

.widget-navigasjon.widget-meldinger {
  position: relative;
  .opprettet {
    display: block;
  }
  .traadlengde {
    position: absolute;
    right: 10px;
    padding-right: 10px;
    line-height: 16px;
    font-weight: bold;
    background: url(../img/melding_flere_innlegg.svg) no-repeat right;
    background-size: 7px;
  }
  li a:focus {
    .statusIkon {
      &.ubesvart {
        background: url(../img/melding_ny_hvit.svg) no-repeat;
      }
    }
    .traadlengde {
      background: url(../img/melding_flere_innlegg_hvit.svg) no-repeat right;
      background-size: 7px;
    }
  }
  .statusIkon {
    position: absolute;
    height: 14px;
    width: 20px;
    left: 7px;
    top: 54px;
    &.besvart {
      background: url(../img/melding_besvart.svg) no-repeat;
    }
    &.ubesvart {
      background: url(../img/melding_ny.svg) no-repeat;
    }
  }
  .meldingstatus {
    margin-top: 16px;
    display: block;
    font-weight: 600;
  }
  .temagruppe {
    display: block;
    font-weight: 600;
  }
}