.besvare-panel {
    margin: 0;
    padding: 1em;
    max-width: 700px;
}

.besvare-panel .sporsmal {
    background-color: #cccccc;
    padding: 1em;
    position: relative;
}

.besvare-panel .sporsmal header > h1 {
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.besvare-panel .sporsmal header > h2 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 0.9em;
}

.besvare-panel .sporsmal .opprettet {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    font-size: 80%;
    font-weight: bold;
    color: black;
}

.besvare-panel .sporsmal > p {
    font-size: 0.8em;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    max-width: 90%;

}

.besvare-panel .feedbackPanel {
    color: red;
}

.besvare-panel textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    margin-bottom: 1em;
    min-height: 100px;
}

.besvare-panel input[type="text"] {
    width: 100%;
}

.besvare-panel .knapp {
    padding: 0.5em 2em;
    text-transform: uppercase;
}

.besvare-panel .send {
    background-color: #0067c5;
    color: white;
    margin-right: 0.2em;
}

.besvare-panel .avbryt {
    background-color: darkgrey;
    color: white;
}

.besvare-panel label {
    width: auto;
}
