/* Generelle mixins, variabler, typografi og stiler som bruker av andre stilregler */
@mainContentWidth: 50%;
@sidebarYtrePadding: 15px;
@focusfarge: #ffbd66;
@mouseoverfarge: #0067C5;

/* Mixins */
.kolonne {
  float: left;
  display: block;
  min-height: 30px;
  width: 47.93617021276595%;
}

.generell-pil(@verticalSize, @horizontalSize, @color) {
  height: 0;
  width: 0;
  border-left: @verticalSize solid transparent;
  border-right: @verticalSize solid transparent;

  &.ned {
    border-top: @horizontalSize solid @color;
  }
  &.opp {
    border-bottom: @horizontalSize solid @color;
  }
}

.pil(@size, @color) {
  .generell-pil(@size, @size, @color);
}

.focus-sammensatt-mixin {
  outline: none;
  box-shadow: 0 0 0 3px @focusfarge;
}

.focus-sammensatt-inset-mixin(@size: 3px) {
  outline: none;
  box-shadow: inset 0 0 0 @size @focusfarge;
}

.focus-enkel-mixin {
  outline: none;
  background-color: @focusfarge;
  color: #333;
}

.mouseover-sammensatt-mixin {
  outline: none;
  border: 1px solid rgb(0, 103, 197) !important;
}

.invalid-sammensatt-mixin {
  outline: none;
  border: 1px solid #BA3A26 !important;
  background-color: #FBF5F4 !important;
  color: #BA3A26 !important;
}

.ontop-mixin(@z-index: 9999) {
  position: relative;
  z-index: @z-index;
}

/* Generelle elementer */

HTML {
  overflow: auto;
  height: 100%;
  background: @white;
  font-size: 14px;
}

BODY {
  height: auto;
  min-height: 100%;
  background: @white;
}

/* Typografi */
H1, H2, H3 {
  font-family: Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
}

H1 {
  font-size: 2.5rem;
}

H2, ._H2 {
  font-size: 2.0rem;
}

H3, ._H3 {
  font-size: 1.43rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* FORMS */
LABEL, .label {
  text-transform: uppercase;
  position: relative;
  margin-top: 1em;
  color: @grayLight;
  font-size: 0.857rem;
}

INPUT.errorJS, SELECT.errorJS {
  background-color: @errorBackgroundLight;
  border: 1px solid @errorTextLight;
}

LABEL.errorJS {
  position: absolute;
  left: 0;
  bottom: -2.9rem;
  white-space: nowrap;
  color: @errorTextLight;
  text-transform: none;
}

UL.feedbackPanel {
  padding: 1rem 1rem 1rem 2rem;
  color: #FBF5F4;
  background-color: #BA3A26;
  font: 1rem Arial, sans-serif;
  text-align: left;

  LI {
    font-style: italic;
  }
  A, A:visited {
    color: @white;
    font-weight: bold;
    text-decoration: underline;
  }
}

.feedbacklabel {
  text-align: left;
}

.description {
  color: @grayLight;
  font-size: 0.714rem;
  white-space: nowrap;
  text-transform: none;
}

.dateGroup INPUT[type=text] {
  background: @white url(../img/kalender.svg) no-repeat right center;
  background-size: 21px;
}

[class*=-liten] {
  margin-top: 2px;
}

.default-error {
  padding-top: 10px;
  SVG {
    height: 30px;
    width: 30px;
    margin: auto;
    display: block;
    PATH {
      fill: @orange;
    }
  }
  P {
    padding-top: 20px;
    margin: 0;
    font-family: Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  HR {
    margin: 25px auto;
    border-top: 1px solid @grayLight;
    width: 30px;
  }
}

.default-modal {
  .default-error;
  width: 400px;
}

.error-panel {
  background-color: @bodyBackground;
  padding: 10px 0;
  P {
    padding-top: 10px;
  }
}

.default-cursor {
  cursor: default !important;
}

fieldset.wcag {
  margin: 0;
  padding: 0;
  border: 0;

  > legend {
    color: transparent;
    width: 0;
    height: 0;
  }
}

.wicket-ajax-indicator {
  display: block;
}

.hidden {
  display: none;
}

.warn {
  border: 1px solid #cccccc;
  padding: 12px 12px 12px 52px;
  background: url(../img/utropstegn-sirkel.svg) no-repeat 12px;
  text-align: left;
  font-weight: bold;
  p {
    margin: 0;
    padding-left: 12px;
    border-left: 1px solid #f18a10;
  }
}

.bekreft-dialog {
  UL {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
    LI {
      margin-bottom: 30px;
      display: block;
      &:last-of-type {
        margin-bottom: 15px;
      }
    }
  }
}

.wicket-ajax-indicator {
  margin-top: 0.5rem;
}

input:not([type=radio]):not([type=checkbox]), textarea, button, select, a[role=button], .ui-selectmenu-button {
  &:focus {
    .focus-sammensatt-mixin;
    & + label {
      .focus-sammensatt-mixin;
    }
  }
}

a:not([role=button]):not(.focus-outline):not([tabindex]), .focus-fyll {
  &:focus {
    .focus-enkel-mixin;
  }
}

input[type=text],
input.hasDatepicker,
textarea,
select,
.ui-selectmenu-button,
.saksbehandlerinnstillinger-toggle {
  &:hover {
    .mouseover-sammensatt-mixin;
    & + label {
      .mouseover-sammensatt-mixin;
    }
  }
}

input[type=text],
input.hasDatepicker,
textarea,
select,
.ui-selectmenu-button,
.saksbehandlerinnstillinger-toggle,
.radioknapper-blokk,
.journalforingSporsmal {
  &.invalid {
    .invalid-sammensatt-mixin;
    & + label {
      .invalid-sammensatt-mixin;
    }
  }
}

.feedbacklabel {
  color: #BA3A26;
}

.mork-bakgrunn .feedbacklabel {
  color: #FF9100;
}

input[type=radio] {
  .mf3-override('radio');
}

input[type=checkbox] {
  .mf3-override('check');
}

.mf3-override(@type) {
  & + label {
    background-image: url('../img/mf3/@{type}.svg')  !important;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:checked + label {
    background-image: url('../img/mf3/@{type}_valgt.svg') !important;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:hover + label {
    background-image: url('../img/mf3/@{type}_hover.svg') !important;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:focus + label {
    background-image: url('../img/mf3/@{type}_focus.svg') !important;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:checked:hover + label {
    background-image: url('../img/mf3/@{type}_valgt_hover.svg') !important;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:checked:focus + label {
    background-image: url('../img/mf3/@{type}_valgt_focus.svg') !important;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:hover:focus + label {
    background-image: url('../img/mf3/@{type}_hover_focus.svg') !important;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:checked:hover:focus + label {
    background-image: url('../img/mf3/@{type}_valgt_hover_focus.svg') !important;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:checked:disabled + label {
    background-image: url('../img/mf3/@{type}_inactive_valgt.svg');
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat !important;
  }
  &:disabled + label {
    background-image: url('../img/mf3/@{type}_inactive.svg');
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
  }
}