/* Lameller */
.lamell {
  &.selected {
    .flexbox;
    .col;
  }

  overflow: visible;
  .oppsummering {
    .kolonne();
  }
  A, A:visited, A:active {
    color: @linkColor;
    text-decoration: none;
  }
  SMALL {
    color: #666;
  }
  SECTION {
    width: 100%;
    padding-bottom: 2rem;
  }
  DL {
    margin: 0;
    overflow: auto;
    &.oppsummering {
      margin-bottom: 2rem;
    }
    > * {
      width: 50%;
      float: left;
    }
    > *:nth-child(4n+3), > *:nth-child(4n+4) {
      position: relative;
      top: -1.1rem;
    }
    > *:nth-child(4n+5) {
      margin-top: 1rem;
      clear: left;
      &:before {
        content: "";
        display: table;
        width: 100%;
      }
    }
    > *:nth-child(4n+2) {
      clear: left;
    }
    DT {
      text-transform: uppercase;
      font-size: 0.857rem;
    }
    DD {
      margin: 3px 0 0 0;
      position: relative;
      min-height: 1rem;
      font-weight: bold;
    }
  }
  UL.oversikt {
    list-style-type: none;
    margin: 1em 0;
    LI {
      margin-top: 1em;
      SMALL {
        text-transform: uppercase;
        font-size: 1rem;
      }
      STRONG {
        display: block;
        font-weight: bold;
        font-size: 1.29rem;
      }
    }
  }
  ARTICLE[role=region] {
    margin-bottom: 4em;
    word-wrap: break-word;
  }
}

.lameller {
  min-height: 100%;
  position: relative;
  background-color: @white;
  .lamell {
    position: relative;
    &.bunn {
      box-shadow: 0px 3px 25px #999;
      position: fixed;
      width: @mainContentWidth;
      > HEADER {
        height: 64px;
        background-image: -webkit-linear-gradient(bottom, #e5e5e3 1px, #F1F1EF 14px);
        background-image: linear-gradient(bottom, #e5e5e3 1px, #F1F1EF 14px);
        background-image: -moz-linear-gradient(top, #e5e5e3 1px, #F1F1EF 14px);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e3', endColorstr='#F1F1EF')"; /* IE8+ */
        H1 {
          line-height: 59px;
          font-size: 1.8rem;
        }
      }
    }
    .person {
      margin-left: 0;
    }
    .close {
      display: block;
      position: absolute;
      right: 30px;
      top: 15px;
      width: 26px;
      height: 26px;
      color: transparent;
      background: url(../img/kryss.svg) no-repeat center center;
      background-size: contain;
    }
    .close:focus, .close:hover {
      background: url(../img/kryss_hover.svg) no-repeat center center;
      background-size: contain;
    }
    .error-panel {
      padding: 30px 30px 40px 30px;
      background-color: @white;
      border: 1px solid @borderColorLight;
      padding-bottom: 0;
      H1 {
        font-size: 1.14rem;
      }
    }
    > HEADER {
      display: block;
      height: 64px;
      background-image: -webkit-linear-gradient(bottom, #e5e5e3 1px, #F1F1EF 14px);
      background-image: linear-gradient(bottom, #e5e5e3 1px, #F1F1EF 14px);
      background-image: -moz-linear-gradient(bottom, #e5e5e3 1px, #F1F1EF 14px);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1EF', endColorstr='#e5e5e3')"; /* IE8+ */
      background-color: @bodyBackground;
      H1 {
        margin: 0 auto auto 30px;
        line-height: 59px;
        font-size: 1.8rem;
      }
      A H1, A:visited H1 {
        color: @modiaBackground;
      }
      A, A:hover {
        text-decoration: none;
        color: #111;
      }
      &:hover {
        background-image: none;
        background-color: #DADADA;
        -ms-filter: "";
        A H1, A:visited H1 {
          color: @blueDark;
        }
      }
      > A:focus {
        H1 {
          color: @blueDark;
          text-decoration: underline;
        }
      }
    }
    &.selected > HEADER {
      height: 84px;
      background: none;
      cursor: default;
      border-bottom: none;
      -ms-filter: "";
      H1 {
        font-size: 2.5rem;
        line-height: 79px;
      }
    }
    .lerret {
      padding: 2rem 30px 30px 30px;
      width: 100%;
      min-height: 30px;
      .dobbeldato-container {
        width: 100%;
        margin-bottom: 1rem;
        .dobbeldato {
          width: auto;
          LABEL {
            min-width: 120px;
          }
        }
      }
      img.lerretloader {
        display: block;
        margin: 10rem auto;
      }
    }
  }
}


.feil-lamell {
  H1 {
    color: @grayLight !important;
  }
  background-color: @bodyBackground;
  min-height: 400px;
}