@modiasvart: #333;
@graabakgrunn: #f1f1f1;
@rammefarge: #d1d1d1;
@modiagraaskrift: #b7b1a9;
@sidemargin: 30px;

.lamell.meldinger .lerret {
  padding: 0;
  .flexbox;
  .flex1;
  .col;
}

.meldinglamell {
  a.knapp-hoved-stor {
    color: white;
  }
  position: relative;
  border-top: 1px solid @rammefarge;
  .meldingsliste {
    background-color: @graabakgrunn;
    border-right: 1px solid @rammefarge;
    .melding {
      padding: 1em @sidemargin 1.2em @sidemargin;
      border-bottom: solid 1px @rammefarge;
      overflow: hidden;
      header {
        .opprettet {
          font-family: arial, sans-serif;
          font-size: 0.85rem;
          margin: 0.2em 0;
        }
        h1 {
          font-weight: bold;
          margin: 0;
          font-size: 1.2em;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      > p {
        width: 100%;
        margin: 0;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &.tom {
          display: none;
        }
      }
      &.valgt {
        background-color: #fff;
      }
      &:not(.valgt) {
        cursor: pointer;
      }
    }
  }

  .meldingsdetaljer {
    padding: 22px @sidemargin 0 @sidemargin;
    .melding {
      p, h3 {
        line-height: 1.35rem;
      }
      margin-bottom: 30px;
      .avsenderBilde {
        margin-top: 20px;
        width: 10%;
        height: 34px;
        &.inngaaende {
          float: left;
        }
        &.utgaaende {
          float: right;
        }
      }
      .meldingData {
        width: 85%;
        position: relative;
        padding: 15px 25px;
        h2 {
          font-size: 1.25rem;
          font-weight: 600;
          margin: 0;
        }
        h3 {
          font-size: 1rem;
          font-weight: normal;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: none;
          margin: 0;
        }
        &:before, &:after {
          position: absolute;
          top: 40px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
        }
        &:after {
          border-width: 13px;
          margin-top: -13px;
        }
        &:before {
          border-width: 14px;
          margin-top: -14px;
        }
      }

      &.inngaaende {
        .meldingData {
          float: right;
          background-color: #e6e6dd;
          &:before, &:after {
            right: 100%;
          }
          &:after {
            border-right-color: #e5e5dc;
          }
          &:before {
            border-right-color: #e5e5dc;
          }
        }
      }
      &.utgaaende {
        .meldingData {
          float: left;
          background-color: #ffffff;
          border: 1px solid @rammefarge;
          &:before, &:after {
            left: 100%;
          }
          &:after {
            border-left-color: #ffffff;
          }
          &:before {
            border-left-color: @rammefarge;
          }
        }
      }
    }

    .traad-info {
      background-color: #333333;
      margin-bottom: 16px;
      padding: 10px;
      color: @modiagraaskrift;
      font-size: 0.75rem;
      .ikon {
        padding-right: 1.4rem;
      }
      &.journalfort-skiller {
        .ikon {
          background: url(../img/journalfore_graa.svg) no-repeat;
        }
        .skillestrek {
          margin: 0 5px;
        }
        &.nyeste {
          margin-top: 0;
        }
      }
      &.kontorsperret-info, &.feilsendt-info {
        .ikon {
          background: url(../img/merk_ikon_graa.svg) no-repeat;
        }
      }
    }
  }

  .traadlengde {
    float: right;
    padding-right: 2em;
    line-height: 21px;
    font-weight: bold;
    background: url(../img/melding_flere.svg) no-repeat right;
  }

  .haandter-meldinger {
    position: absolute;
    top: -30px;
    right: 0;
    margin-right: @sidemargin;
    .meldingsvalg {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1.5em;
      }
      &.besvar span {
        background-image: url(../img/besvar_inaktiv.svg);
      }
      &.journalfor span {
        background-image: url(../img/journalfore_inaktiv.svg);
      }
      &.nyoppgave span {
        background-image: url(../img/ny_oppgave_inaktiv.svg);
      }
      &.merke span {
        background-image: url(../img/merk_ikon_inaktiv.svg);
      }
      &.inaktiv .pil {
        .pil(6px, darkgray);
        cursor: default;
      }
      span {
        color: darkgray;
        em {
          font-style: normal;
        }
      }
      &.besvar a {
        background-image: url(../img/besvar.svg);
      }
      &.journalfor a {
        background-image: url(../img/journalfore_blaa.svg);
      }
      &.nyoppgave a {
        background-image: url(../img/ny_oppgave.svg);
      }
      &.merke a {
        background-image: url(../img/merk_ikon.svg);
      }
      &.print a {
        background-image: url(../img/print_blaa.svg);
      }
      a, span {
        background-repeat: no-repeat;
        padding-left: 1.3em;
      }
    }
    a:hover {
      text-decoration: underline;
    }
    .pil {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 1px;
      .pil(6px, #0067c5);
    }
  }

  .haandtermeldingpanel {
    margin-bottom: 20px;
    background-color: @modiasvart;
    color: @modiagraaskrift;
    padding: 30px;
    display: none;
    text-align: center;
    h2 {
      color: #b7b1a9;
      margin: 0 0 15px;
    }
    form input + label {
      margin: 0;
    }
    .avbryt-knapp {
      color: #20a9e1;
      display: block;
      margin-top: 1em;
    }
    &.nyoppgave {
      .ny-oppgave-form;
    }
    &.merke {
      form {
        .user-select(none);
      }
      a.knapp-hoved-stor {
        margin: 15px 0;
        color: #ffffff;
      }
      .temagruppe {
        margin-top: 30px;
      }
      .ny-oppgave-form;
    }
    div.success ul.feedbackPanel {
      background-color: #0fba47;
    }

    .ny-oppgave-form {
      .temagruppe {
        margin-top: 30px;
      }
      form {
        text-align: center;
        label, select, textarea, .enhetvalg {
          display: block;
          width: 100%;
        }
        label {
          text-align: left;
          &:last-of-type {
            margin-bottom: 0px;
          }
        }
        textarea {
          resize: none;
          height: 150px;
        }
        a {
          margin: 0 auto;
          text-align: center;
          &.knapp-hoved-stor {
            margin: 15px 0;
            color: #ffffff;
          }
        }
        .enhetvalg a {
          height: 34px;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          background-image: none;
          span {
            font-size: 1rem !important;
          }
        }
        .linje {
          margin-top: 40px;
          margin-bottom: 40px !important;
        }
      }
      .oppgaveOpprettetFeedback {
        margin: 2rem 0;
      }
    }
  }
  .feilmelding {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    color: #b7b1a9;
  }
}

.meldingstatus {
  margin: 0 0 1em;
  padding-left: 2.5em;
  font-weight: normal;
  line-height: 22px;
  background-repeat: no-repeat;
  &.sporsmal {
    background-image: url(../img/melding_sporsmaal_hoyre.svg);
  }
  &.svar {
    background-image: url(../img/melding_svar_lest.svg)
  }
  &.sporsmal-ikke-lest-av-bruker {
    background-image: url(../img/melding_sporsmaal_hoyre.svg);
  }
  &.svar-ikke-lest-av-bruker {
    background-image: url(../img/melding_svar_sendt.svg)
  }
  &.svar-lest-av-bruker {
    background-image: url(../img/melding_svar_lest.svg)
  }
  &.samtalereferat-ikke-lest-av-bruker {
    background-image: url(../img/melding_referat_sendt.svg)
  }
  &.samtalereferat-lest-av-bruker {
    background-image: url(../img/melding_referat_lest.svg)
  }
}

hr.linje {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #675c53;
  margin-bottom: 20px;
}

@media print {
  .meldinger {
    height: 0px !important;
    display: inline-block;
  }

  .meldinger .lerret {
    height: 0px !important;
    display: inline-block;
  }
}