@modiasvart: #333;
@graabakgrunn: #f1f1f1;
@rammefarge: #d1d1d1;
@modiagraaskrift: #b7b1a9;
@sidemargin: 30px;
@grayDark: #3e3832;

.lamell.meldinger .lerret {
  padding: 0;
  .flexbox;
  .flex1;
  .col;
}

.meldinglamell {
  a.knapp-hoved-stor {
    color: white;
  }
  position: relative;
  border-top: 1px solid @rammefarge;
  .meldingsliste {
    background-color: @graabakgrunn;
    border-right: 1px solid @rammefarge;
    .melding {
      position: relative;
      padding: 16px @sidemargin 16px @sidemargin;
      border-bottom: solid 1px @rammefarge;
      overflow: hidden;
      p {
        margin: 0;
      }
      &.valgt {
        color: #f5f5f5;
        background-color: #226aa4;
        .statusIkon {
          &.ubesvart {
            background: url(../img/melding_ny_hvit.svg) no-repeat;
          }
        }
      }
      &:not(.valgt) {
        cursor: pointer;
      }
      .meldingstatus {
        font-weight: 600;
        span {
          display: inline-block;
        }
      }
      .fritekst {
        width: 100%;
        margin: 0;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &.tom {
          display: none;
        }
      }
      .meldingstatus, .fritekst {
        margin-top: 16px;
      }
      .statusIkon {
        position: absolute;
        height: 14px;
        width: 20px;
        left: 7px;
        top: 50px;
        &.besvart {
          background: url(../img/melding_besvart.svg) no-repeat;
        }
        &.ubesvart {
          background: url(../img/melding_ny.svg) no-repeat;
        }
      }
      .besvarIndikator {
        background: url(../img/loading_dots_liten_rod.gif) no-repeat;
        float: right;
        width: 34px;
        height: 20px;
        margin-right: 10px;
      }
      .traadlengde {
        position: absolute;
        right: 10px;
        padding-right: 10px;
        line-height: 20px;
        font-weight: bold;
        background: url(../img/melding_flere_innlegg.svg) no-repeat right;
        background-size: 7px;
      }
    }
  }

  .traadDetaljer {
    padding: 22px @sidemargin 0 @sidemargin;
    h2 {
      margin: 0;
    }
    .nyMelding {
      text-align: right;
      margin-bottom: 30px;
      &.besvares {
        .besvarBoble {
          background: url(../img/loading_dots_stor.gif) no-repeat;
        }
      }
      .besvarBoble {
        background: url(../img/loading_dots_stor_bakgrunn.png) no-repeat;
        display: inline-block;
        min-width: 95px;
        height: 36px;
        margin-right: 20px;
        padding-left: 6px;
        line-height: 36px;
        vertical-align: top;
        text-align: left;
        a {
          color: #f5f5f5;
        }
      }
      img {
        height: 34px;
      }
    }
    .melding {
      p, h3 {
        line-height: 1.35rem;
      }
      margin-bottom: 30px;
      .avsenderBilde {
        margin-top: 20px;
        width: 10%;
        height: 34px;
        &.inngaaende {
          float: left;
        }
        &.utgaaende {
          float: right;
        }
      }
      .meldingData {
        width: 86%;
        position: relative;
        padding: 0 25px 30px;
        p {
          margin: 30px 0 0 0;
        }
        &:before, &:after {
          position: absolute;
          top: 40px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
        }
        &:after {
          border-width: 13px;
          margin-top: -13px;
        }
        &:before {
          border-width: 14px;
          margin-top: -14px;
        }
        .meldingstatus {
          margin-top: 30px;
          font-weight: 600;
          font-size: 1.2rem;
          span {
            display: inline-block;
          }
        }
        .fritekst {
          margin-top: 30px;
          word-wrap: break-word;
          a {
            -ms-word-break: break-all;
            word-break: break-all;
          }
        }
      }
      &.inngaaende {
        .meldingData {
          float: right;
          background-color: #e6e6dd;
          &:before, &:after {
            right: 100%;
          }
          &:after {
            border-right-color: #e5e5dc;
          }
          &:before {
            border-right-color: #e5e5dc;
          }
        }
        .journalpost-element {
          float: right;
          background-color: #e6e6dd;
          border-top: 1px solid @rammefarge;
        }
      }
      &.utgaaende {
        .meldingData {
          float: left;
          background-color: #ffffff;
          border: 1px solid @rammefarge;
          &:before, &:after {
            left: 100%;
          }
          &:after {
            border-left-color: #ffffff;
          }
          &:before {
            border-left-color: @rammefarge;
          }
        }
        .journalpost-element {
          float: left;
          background-color: #ffffff;
          border-bottom: 1px solid @rammefarge;
          border-left: 1px solid @rammefarge;
          border-right: 1px solid @rammefarge;
        }
      }
      .journalpost-element {
        clear: both;
        width: 86%;
        padding: 16px 25px;
        color: @grayDark;
        text-decoration: none;
        span {
          text-align: center;
        }
        .ikon {
          text-align: left;
          padding-right: 1.4rem;
          background: url(../img/journalfore_svart.svg) 0 0 no-repeat;
        }
        .pil {
          float: right;
          width: 20%;
          margin-top: 4px;
          .pil(8px, @grayDark); // definisjon i common.less
        }
      }
      .journalpostinformasjon {
        display: none;
        margin: 12px 0 5px 0;
      }
    }

    .traad-info {
      background-color: #333333;
      margin-bottom: 16px;
      padding: 10px;
      color: @modiagraaskrift;
      font-size: 0.75rem;
      .ikon {
        padding-right: 1.4rem;
      }
      &.kontorsperret-info, &.feilsendt-info {
        .ikon {
          background: url(../img/merk_ikon_graa.svg) no-repeat;
        }
      }
    }
  }

  .haandter-meldinger {
    position: absolute;
    top: -30px;
    right: 0;
    margin-right: @sidemargin;
    .meldingsvalg {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1.5em;
      }
      &.journalfor span {
        background-image: url(../img/journalfore_inaktiv.svg);
      }
      &.nyoppgave span {
        background-image: url(../img/ny_oppgave_inaktiv.svg);
      }
      &.merke span {
        background-image: url(../img/merk_ikon_inaktiv.svg);
      }
      &.inaktiv .pil {
        .pil(6px, darkgray);
        cursor: default;
      }
      span {
        color: darkgray;
        em {
          font-style: normal;
        }
      }
      &.journalfor a {
        background-image: url(../img/journalfore_blaa.svg);
      }
      &.nyoppgave a {
        background-image: url(../img/ny_oppgave.svg);
      }
      &.merke a {
        background-image: url(../img/merk_ikon.svg);
      }
      &.print a {
        background-image: url(../img/print_blaa.svg);
      }
      a, span {
        background-repeat: no-repeat;
        padding-left: 1.3em;
      }
    }
    a:hover {
      text-decoration: underline;
    }
    .pil {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 1px;
      .pil(6px, #0067c5);
    }
  }

  .haandtermeldingpanel {
    margin-bottom: 20px;
    background-color: @modiasvart;
    color: @modiagraaskrift;
    padding: 30px;
    display: none;
    text-align: center;
    h2 {
      color: #b7b1a9;
      margin: 0 0 15px;
    }
    form input + label {
      margin: 0;
    }
    .avbryt-knapp {
      color: #20a9e1;
      display: block;
      margin-top: 1em;
    }
    &.nyoppgave {
      .ny-oppgave-form;
    }
    &.merke {
      form {
        .user-select(none);
      }
      a.knapp-hoved-stor {
        margin: 15px 0;
        color: #ffffff;
      }
      .temagruppe {
        margin-top: 30px;
      }
      .ny-oppgave-form;
    }
    div.success ul.feedbackPanel {
      background-color: #0fba47;
    }

    .ny-oppgave-form {
      .temagruppe {
        margin-top: 30px;
      }
      form {
        text-align: center;
        label, select, textarea, .enhetvalg {
          display: block;
          width: 100%;
        }
        label {
          text-align: left;
          &:last-of-type {
            margin-bottom: 0px;
          }
        }
        textarea {
          resize: none;
          height: 150px;
        }
        a {
          margin: 0 auto;
          text-align: center;
          &.knapp-hoved-stor {
            margin: 15px 0;
            color: #ffffff;
          }
        }
        .enhetvalg a {
          height: 34px;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          background-image: none;
          span {
            font-size: 1rem !important;
          }
        }
        .linje {
          margin-top: 40px;
          margin-bottom: 40px !important;
        }
      }
      .oppgaveOpprettetFeedback {
        margin: 2rem 0;
      }
    }
  }
  .feilmelding {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    color: #b7b1a9;
  }
}

hr.linje {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #675c53;
  margin-bottom: 20px;
}

@media print {
  .meldinger {
    height: 0px !important;
    display: inline-block;
  }

  .meldinger .lerret {
    height: 0px !important;
    display: inline-block;
  }
}

.midtstilt {
  text-align: center;
}

.select2-drop.select2-with-searchbox.select2-drop-active ul li.select2-result-unselectable.select2-disabled {
  background-color: #999;
  height: 1px;
  overflow: hidden;
}