#modia-app > .personpanel > .flexbox.col {
	display: table;
	table-layout: fixed;
}

#modia-app > .personpanel > .flexbox.col > .row {
	display: table-row;
}

#modia-app .app-content .sidebar-venstre,
#modia-app .app-content  .sidebar-hoyre,
#modia-app .app-content  .main-content {
	display: table-cell;
	overflow: hidden;
}

#modia-app .app-content  .sidebar-venstre,
#modia-app .app-content .sidebar-hoyre {
	width: 25%;
}

#modia-app .app-content .main-content {
	width: 50%;
	vertical-align: top;
}

#modia-app .app-content .sidebar-venstre {
	vertical-align: top;
}